{% load static %}
{% load url from future %}

<div role="contentinfo">
	<div class="container">
		<h1 class="visuallyhidden">Django Links</h1>

		<a class="logo" href="{% url 'index'  %}">Django</a>

		<div class="learn">
			<span class="label"><i class="icon-info-sign"></i> Learn More</span>
			<ul>
				<li><a href="#">About Django</a></li>
				<li><a href="#">Django Software Benefits Foundation</a></li>
				<li><a href="#">Case Studies</a></li>
				<li><a href="#">Getting Started with Django</a></li>
			</ul>
		</div>

		<div class="involved">
			<span class="label"><i class="icon-signin"></i> Get Involved</span>
			<ul>
				<li><a href="#">Join a Group</a></li>
				<li><a href="#">Find a Job</a></li>
				<li><a href="#">Submit a Bug</a></li>
				<li><a href="#">Report a Security Issue</a></li>
				<li><a href="#">Attend an Event</a></li>
			</ul>
		</div>

		<div class="follow">
			<span class="label"><i class="icon-list"></i> Follow Us</span>
			<ul>
				<li><a href="http://github.com/django">Github</a></li>
				<li><a href="https://twitter.com/djangoproject">Twitter</a></li>
				<li><a href="#">News &amp; Event RSS</a></li>
				<li><a href="#">Django Users Mailing List</a></li>
			</ul>
		</div>

		<p class="copyright">&copy;2005&ndash;{% now "Y" %} <a href="#">Django Software Foundation</a> unless otherwise noted.</p> 

		<p>Django is a registered trademark of the Django Software Foundation.</p> 

		<ul class="thanks">
			<li>Hosting by 
				<a class="mediatemple" href="http://mediatemple.net">Media Temple</a>
			</li>
			<li>Fonts Served by 
				<a class="typekit" href="#">Typekit</a>
			</li>
			<li>Design by 
				<a class="threespot" href="http://www.threespot.com">Threespot</a>
			</li>
		</ul>

	</div>
</div>