{% load url from future %}

<div role="banner">
	<a class="logo" href="{% url 'index' %}">Django</a>
	<p class="tagline">The web framework for perfectionists with deadlines.</p>
	<div class="nav-menu">
		<ul class="nav-primary" role="navigation">
			<li><a href="{% url 'why' %}">Why Django</a></li>
			<li><a href="{% url 'start' %}">Get Started</a></li>
			<li><a href="https://docs.djangoproject.com">Documentation</a></li>
		</ul>
		<ul class="nav-secondary" role="navigation">
			<li><a href="{% url 'news_index' %}">News &amp; Events</a></li>
			<li><a href="#">Community</a></li>
			<li><a href="https://code.djangoproject.com/">Code</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
</div>