{% load url from future %}

<div role="banner" id="top">
	<div class="container">
		<a class="logo" href="{% url 'index' %}">Django</a>
		<p class="meta">The web framework for perfectionists with deadlines.</p>
		<nav role="navigation">
			<ul>
				<li{% if section == 'why_django' %} class="active"{% endif %}>
					<a href="{% url 'why' %}">Overview</a>
				</li>
				<li{% if section == 'get_started' %} class="active"{% endif %}>
					<a href="{% url 'start' %}">Get Started</a>
				</li>
				<li{% if section == 'download' %} class="active"{% endif %}>
					<a href="{% url 'download' %}">Download</a>
				</li>
				<li{% if section == 'docs' %} class="active"{% endif %}>
					<a href="{% url 'docs' %}">Documentation</a>
				</li>
				<li{% if section == 'news' %} class="active"{% endif %}>
					<a href="{% url 'news_index' %}">News</a></li>
				<li{% if section == 'community' %} class="active"{% endif %}>
					<a href="{% url 'community' %}">Community</a></li>
				<li{% if section == 'code' %} class="active"{% endif %}>
					<a href="{% url 'code' %}">Code</a>
				</li>
				<li{% if section == 'about' %} class="active"{% endif %}>
					<a href="{% url 'about' %}">About</a>
				</li>
			</ul>
		</nav>
	</div>
</div>