{% extends "base.html" %}
{% load static %}
{% block title %}About the Django Software Foundation{% endblock %}

{% block copy_banner %}
<div class="copy-banner">
	<div class="container">
		<h1>About the Django Software Foundation</h1>
	</div>
</div>
{% endblock %}

{% block body %}

<p>Development of Django is supported by an independent foundation established as a 501(c)(3) non-profit. Like most open-source foundations, the goal of the Django Software Foundation is to promote, support, and advance its open-source project: in our case, the Django Web framework.</p>
<p>The foundation's goals are to:</p>
<ul>
	<li>Support development of Django by sponsoring sprints, meetups, gatherings and community events.</li>
	<li>Promote the use of Django among the world-wide Web development community.</li>
	<li>Protect the intellectual property and the framework's long-term viability.</li>
	<li>Advance the state of the art in Web development.</li>
</ul>

<h2>Corporate Members</h2>
<p>The Django Software Foundation would not be able to operate without the generous financial support of our <a href="#">corporate members</a>. If you are interested in becoming a corporate member of the DSF, you can find out more on our <a href="#">corporate membership page</a>.</p>

<h2>Developer Members</h2>
<p><a href="#">Developer members</a> are appointed to the Django Software Foundation in recognition of their contributions to the Django community. If you know of someone that you think should be a developer member, <a href="#">get in touch</a> and the DSF will consider adding them.</p>

<h2>Code of Conduct Requirement</h2>
<p>The DSF will only financially support events which publish and adhere to a <a href="#">Code of Conduct</a>.</p>

{% endblock %}

{% block sidebar %} {# Always include <h1> label and <div> with aria role. #}
<h1 class="visuallyhidden">Additional Information</h1>
<div role="complementary">
	<h2>About the foundation</h2>
	<ul class="list-links">
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Records</a></li>
		<li><a href="#">Contact us</a></li>
		<li><a href="#">Contributor license agreements</a></li>
	</ul>
	<h2>Support Django</h2>
	<ul class="list-links">
		<li><a href="#" class="link-blue">Donate to the DSF</a></li>
	</ul>
</div>
{% endblock %}
