<!DOCTYPE html>
<html lang="en">
<head>{% load compress static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block description %}{% endblock %}">
	
	<!-- Favicons -->
	<link rel="apple-touch-icon" href="{% static "img/icon-touch.png" %}">
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<meta name="msapplication-TileColor" content="#113228">
	<meta name="msapplication-TileImage" content="{% static "img/icon-tile.png" %}">

	<title>{% block title %}{% endblock %}</title>
	
	<!--[if lte IE 8]>
		{% compress css %}
			<link rel="stylesheet" href="{% static "scss/output-ie.scss" %}" type="text/x-scss"> 
	 	{% endcompress %}
 	<![endif]-->
	<!--[if gt IE 8]><!-->
		{% compress css %}
			<link rel="stylesheet" href="{% static "scss/output.scss" %}" type="text/x-scss">
		{% endcompress %}
	<!--<![endif]-->
	
	<script src="{% static "js/lib/modernizr.js" %}"></script>	

</head>
<body>

	{% include "includes/header.html" %}
	
	<div class="header">
		{% block header %}{% endblock %}
	</div>

	{% block copy_banner %}{% endblock %}
	
	<div class="{% block layout_class %}container{% endblock %}">
		
		<div role="main">
			{% block body %}{% endblock %}
			<a href="#top" class="backtotop"><i class="icon-chevron-up"></i> Back to Top</a>
		</div>

		{% block sidebar %}{% endblock %} {# Used only with two column pages: News, About, etc #}
		
	</div>

	{% block secondary %}{% endblock %} {# Used only with one column pages: Why Django, Get Started, etc #}
	{% block tertiary %}{% endblock %} {# Used only with one column pages: Why Django, Get Started, etc #}

	{% include "includes/footer.html" %}
	
	{# Require JS #}
	<script data-main="{% static "js/main.js" %}" src="{% static "js/lib/require.js" %}"></script>	

</body>
</html>