<!DOCTYPE html>
<html lang="en">
<head>{% load compress static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block description %}{% endblock %}">
	
	<link rel="apple-touch-icon" href="{% static "img/icon-touch.png" %}">
	<link rel="icon" href="{% static "img/icon-favicon.png" %}">
	<!--[if IE]><link rel="shortcut icon" href="{% static "img/icon-favicon.ico" %}"><![endif]-->
	<meta name="msapplication-TileColor" content="#113228">
	<meta name="msapplication-TileImage" content="{% static "img/icon-tile.png" %}">

	<title>{% block title %}{% endblock %}</title>
	
	<!--[if lte IE 8]>
		{% compress css %}
			<link rel="stylesheet" href="{% static "scss/output-ie.scss" %}" type="text/x-scss"> 
	 	{% endcompress %}
 	<![endif]-->
	<!--[if gt IE 8]><!-->
		{% compress css %}
			<link rel="stylesheet" href="{% static "scss/output.scss" %}" type="text/x-scss">
		{% endcompress %}
	<!--<![endif]-->
	{% compress css %}
		<link rel="stylesheet" href="{% static "scss/print.scss" %}" type="text/x-scss" media="print">
	{% endcompress %}
	
	<script src="{% static "js/modernizr.js" %}"></script>	

</head>
<body>

	{% include "includes/header.html" %}

	<div class="header">
		{% block header %}{% endblock %}
	</div>
	
	<div class="container">
		
		<div role="main">
			{% block body %}{% endblock %}
			<a href="#top" class="backtotop"><i class="icon-chevron-up"></i> Back to Top</a>
		</div>
		

		<h1 class="visuallyhidden">Additional Information</h1>
		<div role="complementary">
			{% block secondary %}{% endblock %}
		</div>

	</div>
		

	{% include "includes/footer.html" %}
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{% static "js/jquery.js" %}><\/script>')</script>
	{% compress js %}<script src="{% static "js/mobile.js" %}"></script>{% endcompress %}

	<script>
		// var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		// (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		// g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		// s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>
</html>