<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>{% load compress static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block description %}{% endblock %}">
	<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" >

	<title>{% block title %}{% endblock %}</title>
	
	<!--[if lte IE 8]>
		{% compress css %}
			<link rel="stylesheet" href="{% static "scss/output-ie.scss" %}" type="text/x-scss"> 
	 {% endcompress %}
	 <![endif]-->
	 <!--[if gt IE 8]><!-->
	 {% compress css %}
	 <link rel="stylesheet" href="{% static "scss/output.scss" %}" type="text/x-scss">
	 {% endcompress %}
	 <!--<![endif]-->

	<!-- Typekit 
		<script type="text/javascript" src="//use.typekit.net/cct4uwo.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	-->
	
	<script src="{% static "js/modernizr.js" %}"></script>	

</head>
<body>

	{% include "includes/header.html" %}

	<div class="header">
		{% block header %}{% endblock %}
	</div>
	
	<div class="container-main">
		<div class="container">
			
			<div class="internal-container">
				<div role="main">
					{% block body %}{% endblock %}
				</div>
			</div>

			<h1 class="visuallyhidden">Additional Information</h1>
			<div role="complementary">
				{% block secondary %}{% endblock %}
			</div>

		</div>
		
		<div class="bg-effect"></div>
	</div>

	
	{% include "includes/footer.html" %}
	
	<script src="{% static "js/zepto.js" %}"></script>
	<script src="{% static "js/mobile.js" %}"></script>

	{% block extrajs %}{% endblock %}

	<script>
		// var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		// (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		// g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		// s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>