{% extends "base.html" %}
{% load static %}
{% block title %}Django Case Study: Knight Foundation {% endblock %}

{% block copy_banner %}
	<div class="copy-banner">
		<div class="container">
			<h1>Case Study: Knight Foundation </h1>
		</div>
	</div>
{% endblock %}

{% block body %}

<blockquote class="callout-right two-thirds">
	<img src="/static/img/logo-knight-large.png" alt="Knight Foundation" />
</blockquote>

<h2>The Challenge </h2>

<p>When the Knight Foundation began redesigning their website (<a href="#">KnightFoundation.org</a>), they were on multiple content management systems they’d outgrown, and the site couldn’t handle traffic spikes. Knight needed a future-proof solution that could accommodate myriad pieces of content and content types (blogs, grant data, publications, grantee profiles)—but also layouts, interactions, and more. </p>

<h2>Why Django?</h2>

<p>The versatility of Django’s applications meant Knight wouldn’t have to re-platform years later, as unanticipated content and functionality needs cropped up. This versatility would allow Knight to work in an exploratory manner while facilitating speedy development.</p>

<blockquote class="callout-left">
	<p>The biggest benefit [of Django] was the speed at which we were able to concept and develop out our CMS.</p>
	<p class="meta">—Eric Schoenborn | Creative Director, Knight Foundation</p>
</blockquote>

<h2>The Development Process </h2>

<p>The actual development process took only four months. Django enabled the front-end developers to write markup following best practices, rather than being constrained by prescribed practices. They were also able to automatically test everything (Django deploys a new version of a site in less than a minute). Scalability meant that the developers could build high-performance features without increasing server load or crashing under traffic. So Knight didn’t have to spend lots of money on hardware, despite their high number of users.</p>

<h2>The Results</h2>

<p>Since the Django-based <a href="#">KnightFoundation.org</a> launched in June 2011, pageviews have increased 55%, unique visitors to the site have grown by 58%, and the homepage bounce rate improved by 30%. Site stability during traffic spikes is no longer a problem.</p>

{% endblock %}

{% block sidebar %} {# Always include <h1> label and <div> with aria role. #}
	<h1 class="visuallyhidden">Additional Information</h1>
	<div role="complementary">
		<h2>Other Case Studies</h2>
		<ul class="list-links">
			<li><a href="#">Mozilla</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Discus</a></li>
			<li><a href="#">OpenStack</a></li>
			<li><a href="#">TheGuardian</a></li>
		</ul>
	</div>	
{% endblock %}