{% extends "base.html" %}
{% load static %}
{% block title %}Django Community{% endblock %}
{% block layout_class %}sidebar-right{% endblock %}

{% block copy_banner %}
<div class="copy-banner">
	<div class="container">
		<h1 class="visuallyhidden">Community</h1>
		<!-- This could ideally be pulled from Django People and Django Packages -->
		<p><em>9,513</em> Django Developers. <em>75</em> Countries. <em>1,701</em> Packages and Projects.</p>
	</div>
</div>
{% endblock %}

{% block body %}

<h2>Mailing lists</h2>
<div class="layout-2col">
	<div class="col form-email">
		<h3><a href="http://groups.google.com/group/django-users">Django-Users</a></h3>
		<p class="meta">Get help with Django and follow announcements.</p>
		<form class="form-input" action="http://groups.google.com/group/django-users/boxsubscribe">
			<input type="email" name="email" placeholder="Enter Email">
			<button type="submit">
				<i class="icon icon-envelope-o"></i>
				<span class="visuallyhidden">Subscribe</span>
			</button>
		</form>
	</div>
	<div class="col form-email">
		<h3><a href="http://groups.google.com/group/django-developers">Django-Developers</a></h3>
		<p class="meta">Where Django developers discuss new features.</p>
		<form class="form-input" action="http://groups.google.com/group/django-developers/boxsubscribe">
			<input type="email" name="email" placeholder="Enter Email">
			<button type="submit">
				<i class="icon icon-envelope-o"></i>
				<span class="visuallyhidden">Subscribe</span>
			</button>
		</form>
	</div>
</div>

<p>Django’s template language is designed to strike a balance between power and ease. It’s designed to feel comfortable and easy-to-learn to those used to working with HTML, like designers and front-end developers. But it is also flexible and highly extensible, allowing developers to augment the template language as needed.</p>

<h2>Django RSS Feeds</h2>

<ul class="list-collapsing">
	<li>
		<h2 class="bullet-icon"><i class="icon icon-rss blue"></i> Community blog posts</h2>
		<div class="collapsing-content">
			<dl class="list-links">
				<dt><a href="#">Now it's your turn</a></dt>
				<dd>March 29th, 2013 at 4 p.m. by <a href="#">Luke Plant</a></dd>
				<dt><a href="#">Mails amb Django - III</a></dt>
				<dd>March 28th, 2013 at 12:18 p.m. by <a href="#">Antoni Aloy López</a></dd>
				<dt><a href="#">Useful Packages for Django projects (part 1)</a></dt>
				<dd>March 28th, 2013 at 11:40 a.m. by <a href="#">Hector Garcia</a></dd>
				<dt><a href="#">Overloading Django Form Fields</a></dt>
				<dd>March 27th, 2013 at 4 p.m. by <a href="#">pydanny's blog</a></dd>
				<dt><a href="#">Django MONTH_CHOICES</a></dt>
				<dd>March 26th, 2013 at 4:10 p.m. by <a href="#">Dustin Davis</a></dd>
			</dl>
			<p class="meta"><a href="#">View more</a> or <a href="#">Add to your feed</a></p>
		</div>
	</li>

	<li>
		<h2 class="bullet-icon"><i class="icon icon-rss blue"></i> Django Jobs</h2>
		<div class="collapsing-content">
			<dl class="list-links">
				<dt><a href="#">Senior Django Developer</a></dt>
				<dd>March 11th, 2013 at 5:10 p.m. by Django Gigs</dd>
				<dt><a href="#">Django Developer</a></dt>
				<dd>March 11th, 2013 at 5:10 p.m. by Django Gigs</dd>
				<dt><a href="#">Passionate python hacker wanted!</a></dt>
				<dd>March 11th, 2013 at 5:10 p.m. by Django Gigs</dd>
				<dt><a href="#">Freelance Django programmer for a food industry web app</a></dt>
				<dd>March 11th, 2013 at 5:10 p.m. by Django Gigs</dd>
				<dt><a href="#">Django Developer For Prospect</a></dt>
				<dd>March 11th, 2013 at 5:10 p.m. by Django Gigs</dd>
			</dl>
			<p class="meta"><a href="#">View more</a> or <a href="#">Add to your feed</a></p>
		</div>
	</li>

	<li>
		<h2 class="bullet-icon"><i class="icon icon-rss blue"></i> Django links RSS</h2>
		<div class="collapsing-content">
			<dl class="list-links">
				<dt><a href="#">Pycon 2013 Slides</a></dt>
				<dd>March 28th, 2013 at 5:29 a.m. by <a href="#">Django Links</a></dd>
				<dt><a href="#">Pyladies</a></dt>
				<dd>March 27th, 2013 at 9:29 a.m. by <a href="#">Django Links</a></dd>
				<dt><a href="#">Python模块学习--random 随机数生成</a></dt>
				<dd>March 26th, 2013 at 9:06 p.m. by <a href="#">2goo</a></dd>
				<dt><a href="#">Django静态文件的配置</a></dt>
				<dd>March 26th, 2013 at 9:06 p.m. by <a href="#">2goo</a></dd>
				<dt><a href="#">在Heroku建立一个App遇到问题解决办法</a></dt>
				<dd>March 26th, 2013 at 9:06 p.m. by <a href="#">2goo</a></dd>
			</dl>
			<p class="meta"><a href="#">View more</a> or <a href="#">Add to your feed</a></p>
		</div>
	</li>

	<li>
		<h2 class="bullet-icon"><i class="icon icon-rss blue"></i> New/updated Django packages RSS</h2> 
		<div class="collapsing-content">
			<dl class="list-links">
				<dt><a href="#">django-twitter-bootstrap</a></dt>
				<dd>March 28th, 2013 at 2:23 a.m. by <a href="#">Django Packages</a></dd>
				<dt><a href="#">django-base64field</a></dt>
				<dd>March 27th, 2013 at 5:06 p.m. by <a href="#">Django Packages</a></dd>
				<dt><a href="#">django-s3direct</a></dt>
				<dd>March 27th, 2013 at 4:17 p.m. by <a href="#">Django Packages</a></dd>
				<dt><a href="#">django-ajaximage</a></dt>
				<dd>March 27th, 2013 at 4:15 p.m. by <a href="#">Django Packages</a></dd>
				<dt><a href="#">Opps</a></dt>
				<dd>March 26th, 2013 at 4:14 p.m. by <a href="#">Django Packages</a></dd>
			</dl>
			<p class="meta"><a href="#">View more</a> or <a href="#">Add to your feed</a></p>
		</div>

	</li>
</ul>

{% endblock %}

{% block sidebar %}
<h1 class="visuallyhidden">Additional Information</h1>
<div role="complementary">
	<h2>Get Involved</h2>
	<dl class="list-links">
		<dt><a href="#">#django IRC channel</a></dt>
		<dd>chat with other Django users</dd>
		<dt><a href="#">Ticket system</a></dt>
		<dd>report bugs and make feature requests</dd>
	</dl>
	<h2>Tell the World</h2>
	<dl class="list-links">
		<dt><a href="#">Django-powered sites</a></dt>
		<dd>add your site to the list</dd>
		<dt><a href="#">Django badges</a></dt>
		<dd>show your support (or wish longingly)</dd>
		<dt><a href="#">Django logos </a></dt>
		<dd>download official logos</dd>
		<dt><a href="#">Django wallpaper</a></dt>
		<dd>cover your desktop</dd>
	</dl>
	<h2>Improve Django</h2>
	<dl class="list-links">
		<dt><a href="#">django-updates mailing list</a></dt>
		<dd>get updated for each code and ticket change (for the super-obsessed)</dd>
		<dt><a href="#">Django wiki</a></dt>
		<dd>contribute tips and documentation</dd>
	</dl>
	<h2>Get Help</h2>
	<dl class="list-links">
		<dt><a href="#">Check our FAQ first.</a></dt>
		<dd>If you have a basic question that's not answered by the FAQ, file a ticket to tell us you think it should be in there.</dd>
		<dt><a href="#">Chat live with other Django users</a></dt>
		<dd>in the #django IRC channel on irc.freenode.net.</dd>
	</dl>
</div>
{% endblock %}