{% extends 'base.html' %}{% load url from future %}
{% block title %}Django: The Web Framework for Perfectionists With Deadlines{% endblock %}
{% block body %}

<h1>Meet Django</h1>

<h2>Why Django?</h2>
<p>Django was invented to meet fast-moving newsroom deadlines, while satisfying the tough requirements of Python web developers. With Django, you can take web applications from concept to launch in a matter of hours. It’s a nimble web development framework that keeps your content fresh and your organization productive. <a href="{% url 'why' %}">Find out more.</a></p>

<dl class="list-features">
	<dt>Ridiculously fast.</dt> 
	<dd>Django was designed to help developers take web applications from concept to completion as quickly as possible.</dd>
	<dt>Fully loaded.</dt> 
	<dd>Django includes dozens of extras that you can use to handle common web development patterns. Django takes care of user authentication, content administration, sitemaps, RSS, user comments, and many more tasks right out of the box.</dd>
	<dt>Reassuringly secure.</dt>
	<dd>Django takes security seriously and helps web developers avoid many of the common security mistakes, including SQL injection, cross-site scripting, cross-site request forgery, clickjacking, and more. Its user authentication system provides a secure way to manage user accounts and passwords.</dd>
	<dt>Exceedingly scalable.</dt> 
	<dd>Some of the busiest websites leverage Django’s ability to quickly and flexibly scale to meet even the heaviest traffic demands.</dd>
	<dt>Incredibly versatile.</dt> 
	<dd>Companies, organizations, and governments have used Django to build all sorts of things—from content management systems to social networks to scientific computing platforms.</dd>
</dl>

<h2><span>Case Studies</span></h2>
<p>You’ve probably used a website that uses Django. Find out why Django was the right solution for these organizations.</p>

<ul class="case-studies">
	<li>
		<span>Knight Foundation</span>
		<img src="http://www.ipsumimage.com/220x100?l=Logo+Image" alt="Knight Foundation Logo">
		<p class="blurb">When the Knight Foundation began redesigning their <a href="http://www.knightfoundation.org">website</a>, they were on multiple content management systems they’d outgrown, with a site that couldn’t handle traffic spikes. Knight needed a future-proof solution. <a href="#">Read More</a></p>
	</li>
	<li>
		<span>Mozilla</span>
		<img src="http://www.ipsumimage.com/220x100?l=Logo+Image" alt="Mozilla Logo">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi. <a href="#">Read More</a></p>
	</li>
	<li>
		<span>Disqus</span>
		<img src="http://www.ipsumimage.com/220x100?l=Logo+Image" alt="Disqus Logo">
		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <a href="#">Read More</a></p>
	</li>
</ul>

<!-- case studies go here -->
<h3>Other sites that use Django</h3>
<ul class="logo-soup">
	<!-- mayeb the place for a carousel -->
	<li><a href="http://instagram.com/">Instagram</a></li>
	<li><a href="http://pinterest.com/">Pinterest</a></li>
	<li><a href="http://www.lanyrd.com/">Lanyrd</a></li>
	<li><a href="http://www.rdio.com/">Rdio</a></li>
	<li><a href="http://www.guardian.co.uk/">The Guardian</a></li>
	<li><a href="http://www.politifact.com/">PolitiFact.com</a></li>
	<li><a href="http://www.nationalgeographic.com/">National Geographic</a></li>
	<li><a href="http://www.nasa.gov">NASA</a></li>
	<li><a href="http://www.peacecorps.gov">The Peace Corps</a></li>
	<li><a href="http://www.macfound.org">The MacArthur Foundation</a></li>
	<li><a href="http://www.openstack.org/">Open Stack</a></li>
</ul>



<a href="#">Get started with Django</a>



<h2><span>Meet the Django Community</span></h2>

<ul>
	<li><a href="#">Get Help</a></li>
	<li><a href="#">Find other Djangonauts near you</a></li>
	<li><a href="#">Find or advertise Django Jobs</a></li>
	<li><a href="#">Contribute to Django</a></li>
	<li><a href="#">Support Django</a><!-- DSF page link --></li>
	<li><a href="#">Buy Django merch</a></li>
	<li><a href="#">The community in-depth</a><!-- link to community page --></li>
</ul>

<h2><span>News &amp; Events</span></h2>
<ul class="news">
	<li>
		<a href="#">Django 1.5 beta 1 released</a>
		<span class="meta">by James Bennett on Nov. 27, 2012</span>
		<p>Today the Django team has issued Django 1.5 beta 1, a preview/testing package for the upcoming Django 1.5 release.</p>
		<a href="#">More</a>
		<a href="#">More News</a>
	</li>
	<li>
		<a href="#">Django Sprint in Toulouse, France</a>
		<span class="meta">by Julien Phalip on Nov. 5, 2012</span>
		<p>On November 25 we'll be sprinting on the Django 1.5 release. Join us in person in Toulouse, France, or online!</p>
		<a href="#">More</a>
		<a href="#">More Events</a>
	</li>
</ul>

{% endblock %}