{% extends "base.html" %}{% load url from future %}
{% load static %}
{% block title %}News &amp; Events{% endblock %}

{% block header %}
<h1>News &amp; Events</h1>
<p>Get updates on Django and the Django Software Foundation as well as announcements on upcoming conferences and sprints around the world.</p>
{% endblock %}

{% block body %}

<form action="" method="post" class="form-input" role="search">
	<label class="visuallyhidden" for="news-search">Search:</label>
	<input id="news-search" type="search" name="news-search" placeholder="Search News" />
	<button type="submit">
		<i class="icon-search"></i>
		<span class="visuallyhidden">Search</span>
	</button>
</form>

<span class="label">All News</span>

<ul class="list-news">
	<li>
		<h2><a href="{% url 'news_detail' %}">Karen Tracey joins the DSF board</a></h2>
		<span class="meta">Posted by <a href="#" rel="author">Russell Keith-Magee</a> on December 4, 2012 in <a href="#">Django Software Foundation</a></span>
		<p>In late October, the DSF announced the resignation of Jacob Kaplan-Moss from the Django Software Foundation board.</p>
		<p>The DSF membership nominated a group of potential candidates to replace fill Jacob's seat, and then voted on those nominations. These votes revealed a clearly preferred candidate, and late last week, the board of the Django Software Foundation (DSF) met and voted unanimously to confirm Karen Tracey to fill Jacob's seat on the DSF board.</p>
		<a class="link-readmore" href="{% url 'news_detail' %}">Read More &rsaquo;</a>
	</li>
	<li>
		<h2><a href="{% url 'news_detail' %}">DjangoCon Europe 2013 Call For Papers</a></h2>
		<span class="meta">Posted by <a href="#" rel="author">Russell Keith-Magee</a> and <a href="#" rel="author">Tomasz Paczkowski</a> on December 4, 2012 in <a href="#">Conferences</a></span>
		<p>DjangoCon Europe 2013 organizers are pleased to invite all members of the Django community to submit their talk proposals for the conference. We’re looking for Django and Python enthusiasts, pioneers, adventurers and anyone else who would like to share their Django achievements and experiments with the rest of the community.</p>
		<p>For more information, please read the announcement on the <a href="http://blog.djangocircus.com/post/36590674298/call-for-speakers">DjangoCon Europe website</a>.</p>
		<a class="link-readmore" href="{% url 'news_detail' %}">Read More &rsaquo;</a>
	</li>
	<li>
		<h2><a href="{% url 'news_detail' %}">Django 1.5 beta 1 released</a></h2>
		<span class="meta">Posted by <a href="#" rel="author">James Bennett</a> on November 27, 2012 in <a href="#">Release Announcements</a></span>
		<p>As part of the Django 1.5 release process, today we've released Django 1.5 beta 1, a preview/testing package that gives a little taste of some of the new stuff coming in Django 1.5. As with all alpha and beta packages, this is not for production use, but if you'd like to try out some of the new goodies coming in 1.5, or if you'd like to pitch in and help us fix bugs before the final 1.5 release (due in December), feel free to grab a copy and give it a spin.</p>
		<p>You can get a copy of the 1.5 beta package from our downloads page, and we recommend you read the release notes. Also, for the security conscious, signed MD5 and SHA1 checksums of the 1.5 alpha package are available.</p>
		<p>Also, please note that Django 1.5 now requires a minimum of Python 2.6; Python 2.5 is no longer supported. Python 3.x releases, starting with Python 3.2, are experimentally supported in this release. For more information on Python 3 support, and the testing Django 1.5 will still need, see this blog post.</p>
		<a class="link-readmore" href="{% url 'news_detail' %}">Read More &rsaquo;</a>
	</li>
	<li>
		<h2><a href="{% url 'news_detail' %}">DjangoCon US 2014-15: Request For Proposals</a></h2>
		<span class="meta">Posted by <a href="#" rel="author">Russell Keith-Magee</a> on November 8, 2012 in <a href="#">Conferences</a></span>
		<p>DjangoCon US was first held in 2008, and has been held annually ever since. It is now the largest Django-specific event in the Django community calendar.</p>
		<p>The Django Software Foundation (DSF) is not, and does not wish to become formally involved in the organization of DjangoCon US. The DjangoCon name is owned by the DSF, and is licensed to the group organizing a DjangoCon event. The DjangoCon organizing group then runs the event as a for-profit enterprise, assuming all financial risk, but also reaping any profit resulting from the event. Past DjangoCon US organizers have made substantial financial donations to the DSF as result of profits earned, but this has been neither expected nor required as part of the licensing arrangement.</p>
		<a class="link-readmore" href="{% url 'news_detail' %}">Read More &rsaquo;</a>
	</li>
</ul>

<ul class="nav-pagination" role="navigation">
	<li><a class="previous" href="#">
		<i class="icon-chevron-left"></i> 
		<span class="visuallyhidden">Previous</span>
	</a></li>
	<li><a class="active" href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a class="next" href="#">
		<i class="icon-chevron-right"></i>
		<span class="visuallyhidden">Next</span>
	</a></li>
</ul>

{% endblock body %}

{% block sidebar %} {# Always include <h1> label and <div> with aria role. #}
	<h1 class="visuallyhidden">Additional Information</h1>
	<div role="complementary">
		{% include "includes/sidebar-news.html" %}
	</div>	
{% endblock %}