{% extends "base.html" %}
{% load static %}
{% block title %}Download Django{% endblock %}

{% block copy_banner %}
<div class="copy-banner">
  <div class="container">
    <!-- This could ideally be pulled from Django People and Django Packages -->
    <h1>Community</h1>
  </div>
</div>
{% endblock %}

{% block body %}

<div id="content-main">
    
<h1>Django badges</h1>

<h2 class="deck">Is your site or project powered by Django? Display one of these handy badges to show your support.</h2>

<p>Copy and paste the source below each image to link to djangoproject.com.</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /&gt;&lt;/a&gt;</textarea><br><strong>126x54</strong> Powered by Django (green)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django." title="Powered by Django."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54_grey.gif" border="0" alt="Powered by Django." title="Powered by Django." /&gt;&lt;/a&gt;</textarea><br><strong>126x54</strong> Powered by Django (grey)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /&gt;&lt;/a&gt;</textarea><br><strong>124x25</strong> Made with Django (green)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." /&gt;&lt;/a&gt;</textarea><br><strong>124x25</strong> Made with Django (grey)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangoproject120x25.gif" border="0" alt="A Django project." title="A Django project."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangoproject120x25.gif" border="0" alt="A Django project." title="A Django project." /&gt;&lt;/a&gt;</textarea><br><strong>120x25</strong> A Django project (green)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangoproject120x25_grey.gif" border="0" alt="A Django project." title="A Django project."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangoproject120x25_grey.gif" border="0" alt="A Django project." title="A Django project." /&gt;&lt;/a&gt;</textarea><br><strong>120x25</strong> A Django project (grey)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangojoint107x25.gif" border="0" alt="A Django joint." title="A Django joint."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangojoint107x25.gif" border="0" alt="A Django joint." title="A Django joint." /&gt;&lt;/a&gt;</textarea><br><strong>107x25</strong> A Django joint (green)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangojoint107x25_grey.gif" border="0" alt="A Django joint." title="A Django joint."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangojoint107x25_grey.gif" border="0" alt="A Django joint." title="A Django joint." /&gt;&lt;/a&gt;</textarea><br><strong>107x25</strong> A Django joint (grey)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /&gt;&lt;/a&gt;</textarea><br><strong>100x25</strong> A Django site (green)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite100x25_grey.gif" border="0" alt="A Django site." title="A Django site."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangosite100x25_grey.gif" border="0" alt="A Django site." title="A Django site." /&gt;&lt;/a&gt;</textarea><br><strong>100x25</strong> A Django site (grey)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /&gt;&lt;/a&gt;</textarea><br><strong>80x15</strong> A Django site (green)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite80x15_grey.gif" border="0" alt="A Django site." title="A Django site."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangosite80x15_grey.gif" border="0" alt="A Django site." title="A Django site." /&gt;&lt;/a&gt;</textarea><br><strong>80x15</strong> A Django site (grey)</p>

<h2 id="wish">Do you <strong>wish</strong> your site were powered by Django? Send out a distress beacon with one of these badges.</h2>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangowish126x70.gif" border="0" alt="A Django site." title="I wish this site were powered by Django."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangowish126x70.gif" border="0" alt="A Django site." title="I wish this site was powered by Django." /&gt;&lt;/a&gt;</textarea><br><strong>126x70</strong> I wish this site were powered by Django (green)</p>

<h3><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangowish126x70_grey.gif" border="0" alt="A Django site." title="I wish this site were powered by Django."></a></h3>

<p><textarea rows="3" cols="60" class="codedump">&lt;a href="http://www.djangoproject.com/"&gt;&lt;img src="https://www.djangoproject.com/m/img/badges/djangowish126x70_grey.gif" border="0" alt="A Django site." title="I wish this site was powered by Django." /&gt;&lt;/a&gt;</textarea><br><strong>126x70</strong> I wish this site were powered by Django (grey)</p>

    </div>

{% endblock %}

{% block sidebar %}
<h1 class="visuallyhidden">Additional Information</h1>
<div role="complementary">
  <h2>Get Involved</h2>
  <dl class="list-links">
    <dt><a href="#">#django IRC channel</a></dt>
    <dd>chat with other Django users</dd>
    <dt><a href="#">Ticket system</a></dt>
    <dd>report bugs and make feature requests</dd>
  </dl>
  <h2>Tell the World</h2>
  <dl class="list-links">
    <dt><a href="#">Django-powered sites</a></dt>
    <dd>add your site to the list</dd>
    <dt><a href="#">Django badges</a></dt>
    <dd>show your support (or wish longingly)</dd>
    <dt><a href="#">Django logos </a></dt>
    <dd>download official logos</dd>
    <dt><a href="#">Django wallpaper</a></dt>
    <dd>cover your desktop</dd>
  </dl>
  <h2>Improve Django</h2>
  <dl class="list-links">
    <dt><a href="#">django-updates mailing list</a></dt>
    <dd>get updated for each code and ticket change (for the super-obsessed)</dd>
    <dt><a href="#">Django wiki</a></dt>
    <dd>contribute tips and documentation</dd>
  </dl>
  <h2>Get Help</h2>
  <dl class="list-links">
    <dt><a href="#">Check our FAQ first.</a></dt>
    <dd>If you have a basic question that's not answered by the FAQ, file a ticket to tell us you think it should be in there.</dd>
    <dt><a href="#">Chat live with other Django users</a></dt>
    <dd>in the #django IRC channel on irc.freenode.net.</dd>
  </dl>
</div>
{% endblock %}