// Colors
$blue: #00acf3; 

$gray-text: #7c7c7c; 

$green-light: #e8f4d0; 
$green-medium: #b1cb2c;
$green-dark: #092e20;



// @font-face
@font-face {
	font-family: 'Elena';
	src: url('../fonts/elena/ElenaWebBasicBold.eot');
	src: url('../fonts/elena/ElenaWebBasicBold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Elena';
	src: url('../fonts/elena/ElenaWebBasicBoldItalic.eot');
	src: url('../fonts/elena/ElenaWebBasicBoldItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Elena';
	src: url('../fonts/elena/ElenaWebBasicRegular.eot');
	src: url('../fonts/elena/ElenaWebBasicRegular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Elena';
	src: url('../fonts/elena/ElenaWebBasicRegularItalic.eot');
	src: url('../fonts/elena/ElenaWebBasicRegularItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Colfax';
	src: url('../fonts/colfax/ColfaxWebBlack.eot');
	src: url('../fonts/colfax/ColfaxWebBlack.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Colfax';
	src: url('../fonts/colfax/ColfaxWebBold.eot');
	src: url('../fonts/colfax/ColfaxWebBold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Colfax';
	src: url('../fonts/colfax/ColfaxWebRegular.eot');
	src: url('../fonts/colfax/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

// TODO: Update font stacks
// font mixins
@mixin elena {
	font-family: 'Elena', Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}
@mixin colfax {
	font-family: 'Colfax', Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

// assorted mixins
@mixin hash-dark {
	background: url(../images/patterns/hash-dark.png) repeat;
	
	@media only screen and 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		
		& {
			background: url(../images/patterns/hash-dark@2x.png) repeat;
			background-size: 4px 4px;
		}
	}
}

@mixin hash-light {
	background: url(../images/patterns/hash-light.png) repeat;
	
	@media only screen and 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		
		& {
			background: url(../images/patterns/hash-light@2x.png) repeat;
			background-size: 4px 4px;
		}
	}
}

@mixin blue-link {
	color: $blue;
	text-decoration: none;
	-webkit-tap-highlight-color: lighten($blue, 25%);
	
	&:hover {
		color: lighten($blue, 25%);
	}
}

// setup font sizing mixin
html {
	font-size: 62.5%;
}
@mixin font-size ( $size: 16 ) {
	font-size: $size + px;
	font-size: $size/10 + rem; 
}

// default type / colors
body {
	background: #FFF;
	color: $gray-text;
	@include elena;
	@include font-size(); 
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

// links
a, 
a:active, 
a:focus {
	color: darken($gray-text, 50%);
	text-decoration: underline;

	&:visited {
		color: lighten($gray-text, 25%);
	}

	&:hover {
		color: $blue;
	}
}

// headers
h1,h2,h3,h4,h5,h6 {
	@include colfax;
	font-weight: normal;

	a {
		text-decoration: none;
	}
}
h1{
	@include font-size(30);
	font-weight: 900;
}
h2{
	@include hash-dark;
	@include font-size(16);
	color: $blue;
	font-weight: 700;
	padding: 8px 6px;
	text-transform: uppercase;

	span {
		background: #FFF;
		display: inline-block;
		// IE7 inline-block fix
			zoom:1; 
			*display: inline; 
			_height: 50px; //fill in relevant height here
		height: 40px;
		line-height: 43px;
		padding: 0 15px;
	}
}
h3{
	@include font-size(24);
	color: $blue;	

	a {
		@include blue-link;
	}
}





















// Pygments Code hightlighting Styles

.highlight {
	@include font-size(13);
	border: 1px solid #EAEAEA;
	background: #F4F4F4;
	border-radius: 4px;
	margin: 0 20px;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; overflow: auto; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
.highlight .lineno { color: #000000; background-color: #dddddd; }

