
// @font-face
@font-face {
	font-family: 'ElenaWebBasicBold';
	src: url('../fonts/elena/ElenaWebBasicBold.eot');
	src: url('../fonts/elena/ElenaWebBasicBold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ElenaWebBasicBoldItalic';
	src: url('../fonts/elena/ElenaWebBasicBoldItalic.eot');
	src: url('../fonts/elena/ElenaWebBasicBoldItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicBoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ElenaWebBasicBoldItalicSub';
	src: url('../fonts/elena/ElenaWebBasicBoldItalicSub.eot');
	src: url('../fonts/elena/ElenaWebBasicBoldItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicBoldItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ElenaWebBasicBoldSub';
	src: url('../fonts/elena/ElenaWebBasicBoldSub.eot');
	src: url('../fonts/elena/ElenaWebBasicBoldSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicBoldSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ElenaWebBasicRegular';
	src: url('../fonts/elena/ElenaWebBasicRegular.eot');
	src: url('../fonts/elena/ElenaWebBasicRegular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ElenaWebBasicRegularItalic';
	src: url('../fonts/elena/ElenaWebBasicRegularItalic.eot');
	src: url('../fonts/elena/ElenaWebBasicRegularItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicRegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ElenaWebBasicRegularItalicSub';
	src: url('../fonts/elena/ElenaWebBasicRegularItalicSub.eot');
	src: url('../fonts/elena/ElenaWebBasicRegularItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicRegularItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ElenaWebBasicRegularSub';
	src: url('../fonts/elena/ElenaWebBasicRegularSub.eot');
	src: url('../fonts/elena/ElenaWebBasicRegularSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/elena/ElenaWebBasicRegularSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBlack';
	src: url('../fonts/colfax/ColfaxWebBlack.eot');
	src: url('../fonts/colfax/ColfaxWebBlack.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBlack.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBlackItalic';
	src: url('../fonts/colfax/ColfaxWebBlackItalic.eot');
	src: url('../fonts/colfax/ColfaxWebBlackItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBlackItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBlackItalicSub';
	src: url('../fonts/colfax/ColfaxWebBlackItalicSub.eot');
	src: url('../fonts/colfax/ColfaxWebBlackItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBlackItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBlackSub';
	src: url('../fonts/colfax/ColfaxWebBlackSub.eot');
	src: url('../fonts/colfax/ColfaxWebBlackSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBlackSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBold';
	src: url('../fonts/colfax/ColfaxWebBold.eot');
	src: url('../fonts/colfax/ColfaxWebBold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBoldItalic';
	src: url('../fonts/colfax/ColfaxWebBoldItalic.eot');
	src: url('../fonts/colfax/ColfaxWebBoldItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBoldItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBoldItalicSub';
	src: url('../fonts/colfax/ColfaxWebBoldItalicSub.eot');
	src: url('../fonts/colfax/ColfaxWebBoldItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBoldItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebBoldSub';
	src: url('../fonts/colfax/ColfaxWebBoldSub.eot');
	src: url('../fonts/colfax/ColfaxWebBoldSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebBoldSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebLight';
	src: url('../fonts/colfax/ColfaxWebLight.eot');
	src: url('../fonts/colfax/ColfaxWebLight.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebLightItalic';
	src: url('../fonts/colfax/ColfaxWebLightItalic.eot');
	src: url('../fonts/colfax/ColfaxWebLightItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebLightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebLightItalicSub';
	src: url('../fonts/colfax/ColfaxWebLightItalicSub.eot');
	src: url('../fonts/colfax/ColfaxWebLightItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebLightItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebLightSub';
	src: url('../fonts/colfax/ColfaxWebLightSub.eot');
	src: url('../fonts/colfax/ColfaxWebLightSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebLightSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebMedium';
	src: url('../fonts/colfax/ColfaxWebMedium.eot');
	src: url('../fonts/colfax/ColfaxWebMedium.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebMediumItalic';
	src: url('../fonts/colfax/ColfaxWebMediumItalic.eot');
	src: url('../fonts/colfax/ColfaxWebMediumItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebMediumItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebMediumItalicSub';
	src: url('../fonts/colfax/ColfaxWebMediumItalicSub.eot');
	src: url('../fonts/colfax/ColfaxWebMediumItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebMediumItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebMediumSub';
	src: url('../fonts/colfax/ColfaxWebMediumSub.eot');
	src: url('../fonts/colfax/ColfaxWebMediumSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebMediumSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebRegular';
	src: url('../fonts/colfax/ColfaxWebRegular.eot');
	src: url('../fonts/colfax/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebRegularItalic';
	src: url('../fonts/colfax/ColfaxWebRegularItalic.eot');
	src: url('../fonts/colfax/ColfaxWebRegularItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebRegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebRegularItalicSub';
	src: url('../fonts/colfax/ColfaxWebRegularItalicSub.eot');
	src: url('../fonts/colfax/ColfaxWebRegularItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebRegularItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebRegularSub';
	src: url('../fonts/colfax/ColfaxWebRegularSub.eot');
	src: url('../fonts/colfax/ColfaxWebRegularSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebRegularSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebThin';
	src: url('../fonts/colfax/ColfaxWebThin.eot');
	src: url('../fonts/colfax/ColfaxWebThin.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebThin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebThinItalic';
	src: url('../fonts/colfax/ColfaxWebThinItalic.eot');
	src: url('../fonts/colfax/ColfaxWebThinItalic.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebThinItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebThinItalicSub';
	src: url('../fonts/colfax/ColfaxWebThinItalicSub.eot');
	src: url('../fonts/colfax/ColfaxWebThinItalicSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebThinItalicSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ColfaxWebThinSub';
	src: url('../fonts/colfax/ColfaxWebThinSub.eot');
	src: url('../fonts/colfax/ColfaxWebThinSub.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/colfax/ColfaxWebThinSub.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
