// Header
[role="banner"] {
	background: $green-light;
	@extend .clearfix;
	overflow: hidden;
	padding-top: 80px;
	padding-bottom: 10px;
	position: relative;
	z-index: 0;
	
	// logo
	.logo {
		@extend .ir;
		background: url(../images/logo-white.svg) center center no-repeat $green-medium;
		border-radius: 50%;
		display: block;
		left: -50px;
		height: 300px;
		position: absolute;
		top: -100px;
		width: 300px;
		z-index: -1;

		// if they have border radius but no svg
		.no-svg.borderradius & { // NOTE: Modernizr Usage
			background: url(../images/logo-white.png) center center no-repeat $green-medium;
		}

		// if they have svg but no border radius
		.svg.no-borderradius & { // NOTE: Modernizr Usage
			background: url(../images/logo-green.svg) center center no-repeat;
		}

		// if they have neight svg nor border-radius
		.no-svg.no-borderradius & { // NOTE: Modernizr Usage
			background: url(../images/logo-green.png) center center no-repeat;
		}
	}

	.menu-button {
		@include font-size(20);
		background: #FFF;
		border-radius: 50%;
		display: block;
		height: 45px;
		line-height: 48px;
		position: absolute;
		right: 30px;
		text-align: center;
		text-decoration: none;
		top: 30px;
		width: 45px;

		&:hover {
			color: $green-medium;
		}
		
		span {
			@extend .visuallyhidden;
		}
	}

	// tagline
	.tagline {
		position: absolute;
		left: -9999px;
	}

	// navigation - primary
	.nav-primary {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: block;
			margin: 10px 0 0 0;
			padding: 0;

			a {
				@include colfax;
				border-radius: 3px;
				color: #FFF;
				background: $green-dark;
				font-weight: 700;
				display: block;
				line-height: 1.1;
				padding: 24px 0 20px 0;
				margin-top: 1px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				width: 100%;
			}

			i {
				@include font-size(20);
				padding-right: 5px;
			}

			&:first-child a {
				background: url(../images/patterns/pattern1.png) center center repeat $green-dark;
			}

			&:nth-child(2) a {
				background: url(../images/patterns/pattern2.png) center center repeat $green-dark;
			}

			&:nth-child(3) a {
				background: url(../images/patterns/pattern3.png) center center repeat $green-dark;
			}
		}
	}

	// navigation - secondary
	.nav-secondary {
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
				// IE7 inline-block fix
				zoom:1; 
				*display: inline; 
			@include colfax;
			@include font-size(11);
			font-weight: 700;
			line-height: 1;
			margin: 10px 0 0 5px;
			padding: 0;
			text-transform: uppercase;

			&:first-child {
				border: none;
				margin-left: 0;
			}

			a {
				color: $green-dark;
				display: inline-block;
				// IE7 inline-block fix
					zoom:1; 
					*display: inline; 
					_height: 20px;/*fill in relevant height here*/
				height: 20px;
				margin: 0;
				padding-top: 25px;
				position: relative;
				text-decoration: none;

				&:after {
					@include hash-dark;
					content: "";
					bottom: 35px;
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
				}

				&:hover {
					color: lighten($green-dark, 25%);

					&:after {
						background: lighten($green-dark, 25%);
					}
				}
			}

			&.active {
				a:after {
					background: $green-dark;
				}
			}
		}
	}
}



// Footer
[role="contentinfo"] {
	@extend .clearfix;
	@include colfax;
	background: $green-dark;
	border-top: 1px solid lighten($green-dark, 20%);
	color: $green-light;
	margin-top: 40px;
	padding-bottom: 20px;
	text-align: center;

	.logo {
		@extend .ir;
		display: block;
		height: 30px;
		margin: 15px auto;
		width: 80px;

		img {
			display: block;
			width: 100%;
		}

		.no-svg & { // NOTE: Modernizr use
			background: url(../images/logo-white-small.png) 0 0 no-repeat;

			img {
				@extend .visuallyhidden;
			}
		}
	}

	.label {
		@include colfax;
		@include hash-border-light;
		color: #FFF; 
		font-weight: 700;
		display: block;
		margin-top: 40px;
		position: relative;
		padding-top: 25px;
		text-transform: uppercase;

		i {
			@include font-size(30);
			color: $green-light;
			display: block;
			margin: 15px auto 0px auto;
		}
	}

	.learn .label {
		@extend .label;
		margin-top: 0;
	}

	ul {
		list-style: none;
		margin: 25px 0 0 0;
		padding: 0;

		li {
			margin: 10px 0 0 0;
			padding: 0;
		}

		a {
			color: $green-light;
			-webkit-tap-highlight-color: $green-medium;
			text-decoration: none;

			&:hover {
				color: $green-medium;
			}
		}

		&.thanks {
			@include hash-border-light;
			@include font-size(11);
			display: block;
			height: 20px;
			margin-top: 35px;
			padding-top: 40px;
			position: relative;

			li {
				display: block;
				float: left;
				width: 33%;
				min-width: 92px;
			}

			a {
				@extend .ir;
				display: block;
				margin: 10px auto;

				&.mediatemple {
					background: url(../images/media-temple.svg) 0 0 no-repeat;
					height: 32px;
					width: 80px;
					
					.no-svg & {
						background: url(../images/media-temple.png) 0 0 no-repeat;
					}
				}
				&.threespot {
					background: url(../images/threespot.svg) 0 0 no-repeat;
					height: 19px;
					width: 80px;
					margin: 20px auto;
					
					.no-svg & {
						background: url(../images/threespot.png) 0 0 no-repeat;
					}
				}
				&.typekit { // TODO: Replace Typekit logo
					background: url(../images/typekit.png) 0 0 no-repeat;
					height: 25px;
					width: 91px;
					margin: 15px auto;
					
					.no-svg & {
						background: url(../images/typekit.png) 0 0 no-repeat;
					}
				}
			}
		}
	}

	p {
		@include elena;
		@include font-size(14);
		color: #FFF;
		margin-top: 25px;

		&.copyright {
			@include hash-border-light;
			margin-top: 35px;
			padding-top: 45px;
			position: relative;
		}

		a {
			color: #FFF;
			-webkit-tap-highlight-color: $green-medium;

			&:hover {
				color: $green-medium;
			}
		}
	}
}



// news list
.list-news {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		position: relative;
		margin-top: 35px;
		padding-top: 25px;

		h3 {
			margin: 15px 0;
		}

		&:after {
			@include hash-dark;
			content: "";
			display: block;
			height: 7px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:first-child {
			margin-top: 0;
			padding-top: 0;

			&:after {
				display: none;
			}
		}
	}
}


// events lis
.list-events {
	@include colfax;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: block;
		@include font-size(18);
		line-height: 1.3;
		margin: 15px 0 0 0;
		padding: 35px 0 10px 40px;
		position: relative;

		i {
			background: $gray-text;
			border-radius: 50%;
			color: #FFF;
			display: block;
			height: 30px;
			line-height: 33px;
			width: 30px;
			text-align: center;
			position: absolute;
			top: 30px;
			left: 0;
		}

		&:after {
			@include hash-dark;
			content: "";
			display: block;
			height: 7px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:first-child {
			padding-top: 15px;

			i {
				top: 10px;
			}

			&:after {
				display: none;
			}
		}
	}

	.meta {
		@include colfax;
		@include font-size(16);
		display: block;
		margin-top: 20px;
	}

	a {
		@include blue-link;
	}
}


.header {
	@include hash-dark;
	padding: 20px;

	> * {
		background: #FFF;
		margin: 0 auto;
		padding: 10px;

		&.toolbox {
			background: none;
		}
	}
}

// TODO: Insert actual pagination styles
.nav-pagination {
	display: block;
	width: 100%;
	margin: 30px auto;
}

// TODO: Build actual style for sub-nav
img.toolbox {
	display: block;
	margin: 20px auto 0 auto;
	width: 95%;
	position: relative;
}
div.toolbox {
	display: none;
}

// TODO: Get rid of temp hash style
hr.hash {
	display: block;
	width: 100%;
	height: 8px;
	border: none;
	outline: none;
	margin-top: 20px;
	@include hash-dark;
}


// import helpers so that @extend works
@import "helpers";