
// Default Type / Colors
body {
	@include elena;
	@include font-size(); 
	background: #fff;
	color: $gray-text;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
a, 
a:active, 
a:focus {
	color: darken($gray-text, 50%);
	text-decoration: underline;

	&:hover {
		color: $blue;
	}
}

// Headers
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@include colfax;
	font-weight: normal;

	a {
		text-decoration: none;
	}
}
.h1{
	@include font-size(30);
	font-weight: 900;
}
.h2{
	@include hash-dark;
	@include font-size(16);
	color: $blue;
	font-weight: 700;
	margin-top: 35px;
	padding: 8px 6px;
	text-transform: uppercase;

	span {
		background: #FFF;
		display: inline-block;
		@include old-ie {
			display: inline; 
			zoom: 1; 
		}
		line-height: 1.1;
		padding: 20px 15px 15px 15px;
	}
}
.h3{
	@include font-size(24);
	color: $blue;	
	margin-top: 35px;

	a {
		@include blue-link;
	}
}

// Recycleable Style Classes
.link-readmore {
	@include blue-link;
	@include colfax;
	@include font-size(11);
	display: inline-block;
	@include old-ie {
		display: inline; 
		zoom: 1; 
	}
	font-weight: 700;
	text-transform: uppercase;
}
.p-intro {
	font-style: italic;
}

.all-events {
	@extend .link-readmore;
	display: block;
	position: relative;
	margin-top: 20px;
	padding-top: 30px;
	
	&:after {
		@include hash-dark;
		content: "";
		display: block;
		position: absolute;
		height: 6px;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
}

.meta {
	@include colfax;
	@include font-size(16);

	a {
		@include blue-link;
	}
}


// Pygments Code Hightlighting Styles
.highlight {
	@include font-size(13);
	border: 1px solid #EAEAEA;
	background: #F4F4F4;
	background: #f8f8f8; overflow: auto;
	border-radius: 4px;
	margin: 0 20px;

	.hll{
		background-color: #ffffcc 
	}
	.c {
		color: #408080; font-style: italic 
	} 
	/* Comment */
	.err{
		border: 1px solid #FF0000 
	} 
	/* Error */
	.k  {
		color: #008000; font-weight: bold 
	} 
	/* Keyword */
	.o  {
		color: #666666 
	} 
	/* Operator */
	.cm {
		color: #408080; font-style: italic 
	} 
	/* Comment.Multiline */
	.cp {
		color: #BC7A00 
	} 
	/* Comment.Preproc */
	.c1 {
		color: #408080; font-style: italic 
	} 
	/* Comment.Single */
	.cs {
		color: #408080; font-style: italic 
	} 
	/* Comment.Special */
	.gd {
		color: #A00000 
	} 
	/* Generic.Deleted */
	.ge {
		font-style: italic 
	} 
	/* Generic.Emph */
	.gr {
		color: #FF0000 
	} 
	/* Generic.Error */
	.gh {
		color: #000080; font-weight: bold 
	} 
	/* Generic.Heading */
	.gi {
		color: #00A000 
	} 
	/* Generic.Inserted */
	.go {
		color: #808080 
	} 
	/* Generic.Output */
	.gp {
		color: #000080; font-weight: bold 
	} 
	/* Generic.Prompt */
	.gs {
		font-weight: bold 
	} 
	/* Generic.Strong */
	.gu {
		color: #800080; font-weight: bold 
	} 
	/* Generic.Subheading */
	.gt {
		color: #0040D0 
	} 
	/* Generic.Traceback */
	.kc {
		color: #008000; font-weight: bold 
	} 
	/* Keyword.Constant */
	.kd {
		color: #008000; font-weight: bold 
	} 
	/* Keyword.Declaration */
	.kn {
		color: #008000; font-weight: bold 
	} 
	/* Keyword.Namespace */
	.kp {
		color: #008000 
	} 
	/* Keyword.Pseudo */
	.kr {
		color: #008000; font-weight: bold 
	} 
	/* Keyword.Reserved */
	.kt {
		color: #B00040 
	} 
	/* Keyword.Type */
	.m  {
		color: #666666 
	} 
	/* Literal.Number */
	.s  {
		color: #BA2121 
	} 
	/* Literal.String */
	.na {
		color: #7D9029 
	} 
	/* Name.Attribute */
	.nb {
		color: #008000 
	} 
	/* Name.Builtin */
	.nc {
		color: #0000FF; font-weight: bold 
	} 
	/* Name.Class */
	.no {
		color: #880000 
	} 
	/* Name.Constant */
	.nd {
		color: #AA22FF 
	} 
	/* Name.Decorator */
	.ni {
		color: #999999; font-weight: bold 
	} 
	/* Name.Entity */
	.ne {
		color: #D2413A; font-weight: bold 
	} 
	/* Name.Exception */
	.nf {
		color: #0000FF 
	} 
	/* Name.Function */
	.nl {
		color: #A0A000 
	} 
	/* Name.Label */
	.nn {
		color: #0000FF; font-weight: bold 
	} 
	/* Name.Namespace */
	.nt {
		color: #008000; font-weight: bold 
	} 
	/* Name.Tag */
	.nv {
		color: #19177C 
	} 
	/* Name.Variable */
	.ow {
		color: #AA22FF; font-weight: bold 
	} 
	/* Operator.Word */
	.w  {
		color: #bbbbbb 
	} 
	/* Text.Whitespace */
	.mf {
		color: #666666 
	} 
	/* Literal.Number.Float */
	.mh {
		color: #666666 
	} 
	/* Literal.Number.Hex */
	.mi {
		color: #666666 
	} 
	/* Literal.Number.Integer */
	.mo {
		color: #666666 
	} 
	/* Literal.Number.Oct */
	.sb {
		color: #BA2121 
	} 
	/* Literal.String.Backtick */
	.sc {
		color: #BA2121 
	} 
	/* Literal.String.Char */
	.sd {
		color: #BA2121; font-style: italic 
	} 
	/* Literal.String.Doc */
	.s2 {
		color: #BA2121 
	} 
	/* Literal.String.Double */
	.se {
		color: #BB6622; font-weight: bold 
	} 
	/* Literal.String.Escape */
	.sh {
		color: #BA2121 
	} 
	/* Literal.String.Heredoc */
	.si {
		color: #BB6688; font-weight: bold 
	} 
	/* Literal.String.Interpol */
	.sx {
		color: #008000 
	} 
	/* Literal.String.Other */
	.sr {
		color: #BB6688 
	} 
	/* Literal.String.Regex */
	.s1 {
		color: #BA2121 
	} 
	/* Literal.String.Single */
	.ss {
		color: #19177C 
	} 
	/* Literal.String.Symbol */
	.bp {
		color: #008000 
	} 
	/* Name.Builtin.Pseudo */
	.vc {
		color: #19177C 
	} 
	/* Name.Variable.Class */
	.vg {
		color: #19177C 
	} 
	/* Name.Variable.Global */
	.vi {
		color: #19177C 
	} 
	/* Name.Variable.Instance */
	.il {
		color: #666666 
	} 
	/* Literal.Number.Integer.Long */
	.lineno {
		color: #000000; background-color: #dddddd; 
	}
}



// Container
@include respond-min(768px) {
	.container {
		margin: 0 auto;	
		max-width: 1100px;
		width: (704/768) * 100%;
	}
}

.menu-button {
	@include respond-min(768px) { // Desktop Styles
		display: none !important; // TODO: Remove Menu button hide
	}
}

// Header
[role="banner"] { // TODO: Add in Background Graphic
	@include clearfix;
	background: $green-light;
	overflow: hidden;
	padding: 20px 0 0;
	position: relative;
	z-index: 0;
	@include respond-min(768px) { // Desktop Styles
		height: 220px;
		margin: 0;
		padding: 0;
	}

	.container {
		@include respond-min(768px) { // Desktop Styles
			padding-top: 100px;
			position: relative;
		}
	}
	
	.logo {
		@include font-size(40);
		@include colfax;
		background: url(../images/logo-django.png) center center no-repeat;
		color: $green-dark;
		display: block;
		float: left;
		font-weight: 700;
		height: 50px;
		margin: 0 15px 20px;
		text-decoration: none;
		text-indent: 100%;
		width: 142px;
		
		.svg & { // NOTE: Modernizr Use
			background: url(../images/logo-django.svg) center center no-repeat;	
		}
	}

	.tagline {
		left: -9999px;
		position: absolute;
		@include respond-min(768px) { // Desktop Styles
			@include colfax;
			color: $green-medium;
			font-weight: 900;
			left: 240px;
			line-height: 1;
			text-transform: uppercase;
			top: 22px;
			width: (180/700) * 100%;
		}
	}

	.menu-button {
		@include font-size(20);
		background: $green-dark;
		border-radius: 50%;
		color: #fff;
		cursor: pointer;
		display: block;
		float: right;
		height: 45px;
		line-height: 48px;
		margin: 0 15px;
		text-align: center;
		text-decoration: none;
		width: 45px;
		-webkit-tap-highlight-color: transparent;
		
		&:active {
			color: $green-medium;
		}
		
		span {
			@include visuallyhidden;
		}
	}

	.nav-menu-on {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: all 0.3s ease-out;  
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		@include respond-min(768px) { // Desktop Styles
			max-height: none;
		}
		
		&.active {
			max-height: 500px;
		}
	}

	[role="navigation"] {
		background: url(../images/bg-pattern.jpg) repeat top center $green-dark;
		clear: both;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			@include colfax;
			@include font-size(24);
			display: block;			
			font-weight: 400;
			line-height: 1.1;
			text-align: center;
			text-transform: uppercase;
			@include respond-min(768px) { // Desktop Styles
				float: left;
				margin-left: (11/700) * 100%;
				width: (226/700) * 100%;
			}
		}

		a {
			color: #fff;
			background: url(../images/patterns/hash-light@2x.png) repeat-x top center;
			background-size: 4px;
			@include old-ie {
				background: url(../images/patterns/hash-light.png) repeat-x top center;
			}
			display: block;
			padding: 14px 0 8px 0;
			text-decoration: none;
			-webkit-tap-highlight-color: transparent;
			
			&:active {
				color: $green-medium;
			}

			@include respond-min(768px) {
				&:hover {
					color: $green-medium;
				}	
			}
		}
	}

	.nav-primary {
		list-style: none;
		margin: 0;
		padding: 0;

		li:first-child a {
			background: none;
			padding-top: 10px;
		}
	}

	.nav-secondary {
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0;
		text-align: center;
		@include respond-min(768px) { // Desktop Styles
			position: absolute;
			right: 0;
			top: 20px;
		}

		a {
			@include font-size(20);
			color: lighten($gray-text, 10%);
		}
	}
}


// Footer
[role="contentinfo"] {
	@include clearfix;
	@include colfax;
	background: $green-dark;
	border-top: 1px solid lighten($green-dark, 20%);
	clear: both;
	color: $green-light;
	margin-top: 40px;
	padding-bottom: 20px;
	text-align: center;

	.logo {
		//@include ir;
		display: block;
		height: 30px;
		margin: 15px;
		width: 80px;
		background: url(../images/logo-django.png) 0 0 no-repeat;
		@include respond-min(768px) { // Desktop Styles
			margin: 25px 0;
		}

		.svg & { // NOTE: Modernizr use
			background: url(../images/logo-django.svg) 0 0 no-repeat;	
			background-size: 100%;
		}
	}

	

	.label {
		@include colfax;
		color: #FFF; 
		font-weight: 700;
		display: block;
		margin-top: 40px;
		position: relative;
		padding-top: 25px;
		text-transform: uppercase;
		@include respond-min(768px) { // Desktop Styles
			margin-top: 0;
		}

		&:after {
			@include hash-light;
			bottom: 0;
			content: "";
			display: block;
			height: 6px;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		i {
			@include font-size(30);
			color: $green-light;
			display: block;
			margin: 15px auto 0px auto;
		}
	}


	.learn .label {
		@extend .label;
		margin-top: 0;
	}
	.learn, .involved, .follow {
		@include respond-min(768px) { // Desktop Styles
			float: left;
			margin-left: (9/704) * 100%;
			padding-bottom: 50px;
			text-align: left;
			width: (228/704) * 100%;
		}
	}
	.learn {
		@include respond-min(768px) { // Desktop Styles
			margin-left: 0;
		}
	}




	ul {
		list-style: none;
		margin: 25px 0 0 0;
		padding: 0;

		li {
			margin: 10px 0 0 0;
			padding: 0;
		}

		a {
			color: $green-light;
			-webkit-tap-highlight-color: $green-medium;
			text-decoration: none;

			&:hover {
				color: $green-medium;
			}
		}

		&.thanks {
			@include font-size(11);
			display: block;
			height: 20px;
			margin-top: 35px;
			padding-top: 40px;
			position: relative;
			@include respond-min(768px) { // Desktop Styles
				width: (90/704) * 100%;
				margin: 0;
			}

			&:after {
				@include hash-light;
				content: "";
				display: block;
				position: absolute;
				height: 6px;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}

			&:first-child {
				@include respond-min(768px) { // Desktop Styles
					margin-left: (214/704) * 100%;
				}
			}

			li {
				display: block;
				float: left;
				width: 33%;
				min-width: 92px;
			}

			a {
				//@include ir;
				display: block;
				margin: 10px auto;
				width: 60px;

				&.mediatemple {
					background: url(../images/media-temple.png) 0 0 no-repeat;
					height: 24px;

					.svg & { // NOTE: Modernizr use
						background: url(../images/media-temple.svg) 0 0 no-repeat;
					}
				}
				&.threespot { 
					background: url(../images/threespot.png) 0 0 no-repeat;
					height: 15px;
					margin: 18px auto;

					.svg & { // NOTE: Modernizr use
						background: url(../images/threespot.svg) 0 0 no-repeat;
					}
				}
				&.typekit { 
					background: url(../images/typekit.png) 0 0 no-repeat;
					height: 16px;
					margin: 15px auto;

					.svg & { // NOTE: Modernizr use
						// TODO: Replace Typekit logo
					}
				}
			}
		}
	}

	p {
		@include elena;
		@include font-size(14);
		color: #FFF;
		margin-top: 25px;

		&.copyright {
			clear: both;
			margin-top: 35px;
			padding-top: 45px;
			position: relative;

			&:after {
				@include hash-light;
				content: "";
				display: block;
				position: absolute;
				height: 6px;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}
		}

		a {
			color: #FFF;
			-webkit-tap-highlight-color: $green-medium;

			&:hover {
				color: $green-medium;
			}
		}
	}
}


[role="main"] {
	@include respond-min(768px) { // Desktop Styles
		float: left;
		width: (429/704) * 100%;
		padding: 0;
	}
}

[role="complementary"] {
	@include respond-min(768px) { // Desktop Styles
		float: left;
		width: (230/704) * 100%;
		margin-left: (45/704) * 100%;
		padding: 0 0 40px 0;
	}
}




// news list
.list-news {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		position: relative;
		margin-top: 35px;
		padding-top: 5px;

		.h3 {
			margin-bottom: 15px;
		}

		&:after {
			@include hash-dark;
			content: "";
			display: block;
			height: 7px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:first-child {
			margin-top: 0;
			padding-top: 0;

			&:after {
				display: none;
			}
		}
	}
}


// events lis
.list-events {
	@include colfax;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: block;
		@include font-size(18);
		line-height: 1.3;
		margin: 15px 0 0 0;
		padding: 35px 0 10px 40px;
		position: relative;

		i {
			background: $gray-text;
			border-radius: 50%;
			color: #FFF;
			display: block;
			height: 30px;
			line-height: 33px;
			width: 30px;
			text-align: center;
			position: absolute;
			top: 30px;
			left: 0;
		}

		&:after {
			@include hash-dark;
			content: "";
			display: block;
			height: 7px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0; 
		}

		&:first-child {
			padding-top: 15px;

			i {
				top: 10px;
			}

			&:after {
				display: none;
			}
		}
	}

	.meta {
		@include colfax;
		@include font-size(16);
		display: block;
		margin-top: 20px;
	}

	a {
		@include blue-link;
	}
}


.header {
	@include hash-dark;
	padding: 20px;
	@include respond-min(768px) { // Desktop Styles
		padding-left: (32/768) * 100%;
		padding-right: (32/768) * 100%;
	}

	> * {
		background: #FFF;
		margin: 0 auto;
		padding: 10px;
		@include respond-min(768px) { // Desktop Styles
			max-width: 1080px;
		}

		&.toolbox {
			background: none;
		}
	}

	img {
		@include respond-min(768px) { // Desktop Styles
			display: none !important;
		}
	}
}

// TODO: Insert actual pagination styles
.nav-pagination {
	display: block;
	width: 100%;
	margin: 30px auto;
	@include respond-min(768px) { // Desktop Styles
		display: none;
	}
}
.nav-pagination-large {
	@extend .nav-pagination;
	display: none;
	@include respond-min(768px) { // Desktop Styles
		display: block;
	}
}


// TODO: Build actual style for sub-nav
img.toolbox {
	display: block;
	margin: 20px auto 0 auto;
	width: 95%;
	position: relative;
}
div.toolbox {
	display: none;
}

// TODO: Get rid of temp hash style
hr.hash {
	display: block;
	width: 100%;
	height: 8px;
	border: none;
	outline: none;
	margin-top: 20px;
	@include hash-dark;
}


// Boilerplate Helper mixins (entered as classes)
.visuallyhidden { 
	@include visuallyhidden;
}
.clearfix, .group-container {
	@include clearfix;
}