/* 
CSS Written by Jes Gundy
Threespot, Washington DC 
---
CSS rendered with Sass 3.2.7
*/

// Globals
body {
	@include elena;
	@include font-size(18); 
	background: #f8f8f8;
	color: $text;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;

	.layout-secondary,
	[role="complementary"] {
		@include colfax; // reverse font style on sidebar and secondary areas
	}
}
a {
	color: #000;
	text-decoration: underline;
	-webkit-tap-highlight-color: transparent;

	&:visited {
		color: lighten($text, 10%);
	}

	&:active, 
	&:focus,
	&:hover {
		color: lighten($text, 10%);
	}
}
::selection { // Text Selection Colors
	background: lighten($green-light,10%); 
}
::-moz-selection {
	background: lighten($green-light,10%); 
}
ol li, ul li { //list styles
	margin-top: 10px;
}
dl {
	margin: 0;
	padding: 20px 0 40px;

	dt {
		@include colfax;
		font-weight: 700;
		margin-top: 22px;
	}

	dd {
		margin: 5px 0 0;
		padding: 0;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@include colfax;
	font-weight: 400;

	a {
		text-decoration: none;
		@include link-green;
	}

	.layout-secondary &,
	[role="complementary"] & {
		@include elena; // reverse font style on sidebar and secondary areas
	}
}
h1 {
	@include font-size(28);
	color: #fff;
	letter-spacing: -1px;
	line-height: 1.1;
	@include respond-min(768px) {
		@include font-size(32);
	}

	[role="main"] & {
		@include font-size(32);
		margin: 35px 0 20px;
		color: $gray-text;
	}
}
h2 {
	@include font-size(30);
	font-weight: 700;
	color: $gray-text;
	line-height: 1.2;
	margin: 35px 0 20px;
	@include respond-min(768px) {
		@include font-size(26);
	}

	[role="complementary"] &,
	.layout-secondary & {
		@include font-size(32);
		border-bottom: 1px solid $gray-line;
		font-weight: 400;
		padding-bottom: 20px;

		&:first-child {
			@include respond-min(768px) {
				margin-top: 20px;
			}
		}
	}

	[role="complementary"] & {
		@include font-size(20);
	}
}
h3 {
	@include font-size(28);
}
h4 {
	@include font-size(18);	
	@include elena;
	text-transform: uppercase;
}
tt { // increase size of inline monospace text
	font-size: 115%;
}
p { 
	//increase top margin if first item in container
	[role="main"] > &:first-child {
		margin-top: 30px;
	}	
}
blockquote {
	@include colfax;
	@include font-size(22);

	p:first-child {
		margin-top: 0;
	}

	.meta {
		@include font-size(14);
	}

	@include respond-min(768px) {
		@include font-size(28);
	}
}

// Layout
[role="main"] {
	background: #fff;
	padding: 1px 10px;
	@include respond-min(768px) {
		border-radius: 0px;
		border: 1px solid #ddd;
		float: right;
		margin: 0;
		padding-bottom: 20px;
		padding-left: (30/704) * 100%;	
		padding-right: (30/704) * 100%;	
		width: (410/704) * 100%;
		.mdzr-boxshadow & {
			border: none;
			border-radius: 5px 0 0 5px;
			-moz-box-shadow: 0px 0px 0 0 #fff, 0px 0px 0 0 #fff, 500px 0 0 0 #fff, 1000px 0 0 0 #fff, 500px 0px 0 0px #fff, 1000px 0px 0 0px #fff;
			-webkit-box-shadow: 0px 0px 0 0 #fff, 0px 0px 0 0 #dfdfdf, 500px 0 0 0 #fff, 1000px 0 0 0 #fff, 500px 0px 0 0px #fff, 1000px 0px 0 0px #fff;
			box-shadow: 0px 0px 0 0 #fff, 0px 0px 0 0 #fff, 500px 0 0 0 #fff, 1000px 0 0 0 #fff, 500px 0px 0 0px #fff, 1000px 0px 0 0px #fff;
			padding-left: (32/704) * 100%;	
			padding-right: (0/704) * 100%;	
			width: (442/704) * 100%;
		}
	}

	.full-width & {
		border: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		float: none;
		margin: 0 auto;
		padding: 0 10px;
		width: auto;

		@include respond-min(768px) {
			max-width: 700px;
			padding: 20px 0;
			width: (704/768) * 100%;
		}
	}
}
.full-width {
	// High-level class denoting full-width layout
	@include clearfix;
	border-bottom: 1px solid #ddd;
	background: #fff;
	.mdzr-boxshadow & {
		border: none;
		-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.11);
		-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.11);
		box-shadow: 0 4px 4px rgba(0,0,0,0.11);
	}
}
[role="complementary"] {
	padding: 0 10px 20px;
	@include respond-min(768px) {
		float: right;
		margin: 20px 0;
		margin-right: (32/704) * 100%;
		padding: 0 0 40px;
		width: (197/704) * 100%;
	}
}
.layout-secondary {
	// Secondary (gray) content area on full-width pages
	padding: 10px 10px 40px;
}
.layout-tertiary {
	// Tertiary (white) content area on full-width pages
	background: #fff;
	border-top: 1px solid #ddd;
	padding: 10px 10px 40px;
	.mdzr-boxshadow & {
		border: none;
		-moz-box-shadow: 0 -4px 4px rgba(0,0,0,0.11);
		-webkit-box-shadow: 0 -4px 4px rgba(0,0,0,0.11);
		box-shadow: 0 -4px 4px rgba(0,0,0,0.11);
	}
}
.container { 
	//reusable container class to center content
	@include respond-min(768px) {
		margin: 0 auto;	
		max-width: 1100px;
		width: (704/768) * 100%;
	}
	@include old-ie {
		min-width: 768px;
	}
}


// Site Chrome (Header/Footer)
[role="banner"] {
	// Includes global navigation, logo, and tagline at top of document
	@include clearfix;
	background: $green-dark;
	overflow: hidden;
	margin: 0;
	padding: 10px 0;
	position: relative;
	z-index: 0;

	.container {
		@include respond-min(768px) {
			position: relative;
		}
	}

	.meta {
		@include font-size(14);
		color: $green-medium;
		font-weight: 700;
		text-transform: uppercase;
		width: auto;
		float: left;
		margin: 10px 0 0 10px;
		display: none;
		@include respond-min(1150px) {
				width: 260px;
				display: inline;
			}
	}

	
	.logo {
		@include font-size(40);
		@include colfax;
		background: url(/static/img/logo-django.png) 0 0 no-repeat;
		color: #FFF;
		display: block;
		float: left;
		font-weight: 700;
		margin: 10px 10px 10px 0;
		overflow: hidden;
		text-decoration: none;
		text-indent: 100%;
		width: 104px;
		height: 36px;

		.mdzr-svg & { // deliver svg logo if applicable
			background: url(/static/img/logo-django.svg) center center no-repeat;
		}
	}

	.menu-button {
		@include font-size(20);
		background: $green-dark;
		border-radius: 23px;
		color: #fff;
		cursor: pointer;
		display: block;
		float: right;
		height: 45px;
		line-height: 48px;
		margin: 0 10px;
		text-align: center;
		text-decoration: none;
		width: 45px;		

		@include respond-min(768px) {
			display: none; 
		}

		&:active {
			color: $green-medium;
		}
		
		span {
			@include visuallyhidden;
		}
	}

	.nav-menu-on {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: all 0.3s ease-out;  
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		@include respond-min(768px) {
			// turn off animations if on a desktop width
			max-height: none;
			-webkit-transition: none;  
			-moz-transition: none;
			-o-transition: none;
			transition: none;
		}
		
		&.active {
			max-height: 500px;
		}
	}

	[role="navigation"] {
		background: url(/static/img/bg-pattern.jpg) repeat top center $green-dark;
		float: right;
		@include retina-display { 
			//double density for retina display
			background-size: 250px 250px;
		}
		@include respond-min(768px) {
			background: none;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			@include colfax;
			@include font-size(12);
			display: block;			
			font-weight: 700;
			line-height: 16px;
			margin-top: 0;
			text-align: center;
			text-transform: uppercase;
			@include respond-min(856px) {
				@include font-size(14);
			}
			@include respond-min(768px) {
				float: left;
			}

			&.active a {
				color: $green-medium;
			}
		}

		a {
			color: #fff;
			display: block;
			padding: 20px 10px;
			text-decoration: none;

			&:active, &:hover {
				color: $green-light;
			}			
		}

		.nav-primary {
			@include respond-min(768px) {
				position: absolute;
				right: 0;
				top: 45px;
			}	
		}
	}
}
.header {
	// dark green bar containing the page title
	@include colfax;
	background: $green-dark;
	margin: 0;
	padding: 11px 0px 8px;
	position: relative;

	h1 {
		margin: 0.4em 0;
	}

	p {
		@include elena;
		@include font-size(18);
		color: #fff;
		left: -9999px;
		line-height: 1.5;
		padding: 0 0 10px;
		position: absolute;
		top: 0;
		max-width: 660px;

		@include respond-min(768px) {
			position: static;
		}
	}
}
.copy-banner {
	// Large green callout at the top of the page
	background: $green-medium;
	padding: 2px 0;
	
	p {
		@include colfax;
		@include font-size(24);
		color: $green-light;
		font-weight: 400;
		line-height: 1.3;
		margin: 0;

		em {
			font-style: normal;
		}

		@include respond-min(768px) {
			@include font-size(32);

			color: $green-light;
			padding: 25px 0 30px;

			em {
				color: $white;
			}
		}
	}

	a.cta, .cta {
		background: $green-medium-dark;
		&:hover {
			background: darken($green-medium-dark, 2%);
		}
	}
}
[role="contentinfo"] {
	// Global Footer at bottom of page
	@include clearfix;
	@include colfax;
	background: $green-medium;
	clear: both;
	margin-top: 0px;
	@include retina-display { //double density for retina display
		background-size: 250px 250px;
	}

	.container {
		@include clearfix;
		overflow: hidden;
	}

	.learn, 
	.involved, 
	.follow {
		@include respond-min(768px) {
			border-top: 1px solid $gray-line;
			float: left;
			margin-bottom: -999px;
			padding: 0 2% 999px;
			width: 29%;
		}
	}
	.follow {
		@include respond-min(768px) {
			border: none;
		}
	}
	
	h2 {
		@include font-size(16);
		border-top: 1px solid $gray-line;
		color: #fff; 
		font-weight: 700;
		margin-top: 20px;
		padding: 30px 10px 0;
		@include respond-min(768px) {
			border: none;
			margin-top: 0;	
		}
	}
	.learn h2 {
		background: none;
		margin-top: 0;
	}

	ul {
		@include font-size(14);
		font-weight: 400;
		list-style: none;
		margin: 15px 0 0 0;
		padding: 0 10px 30px;
		@include respond-min(768px) {
			margin-bottom: 20px;
		}

		li {
			margin: 10px 0 0;
			padding: 0;
		}

		a {
			color: $white;
			text-decoration: none;
			
			&:hover, 
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	.footer {
		background: $green-dark;
		margin-top: 20px;
		padding: 10px 0;

		@include respond-min(768px) {
			background: url(/static/img/bg-footer.svg) no-repeat bottom right $green-light;
			margin-top: 0;
		}
	}

	.logo {
		@include font-size(40);
		@include colfax;
		background: url(/static/img/logo-django.png) 0 0 no-repeat;
		color: $green-dark;
		display: block;
		font-weight: 700;
		height: 50px;
		margin: 10px;
		overflow: hidden;
		text-decoration: none;
		text-indent: 100%;
		width: 142px;
		@include respond-min(768px) {
			float: left;
			margin: 20px 90px 0 2%;
		}
		
		.mdzr-svg & { 
			background: url(/static/img/logo-django.svg) center center no-repeat;
			height: 39px;
			width: 109px;
		}
	}

	.thanks {
		@include font-size(12);
		border-bottom: 1px solid $gray-line;
		color: $green-dark;
		margin: 0;
		padding: 0;
		@include respond-min(768px) {
			border: none;
		}
		
		li {
			@include clearfix;
			border-top: 1px solid $gray-line;
			margin: 0;
			padding: 17px 10px 11px;
			@include respond-min(768px) {
				background: none;
				float: left;
				padding: 0 0 0 25px;
				width: 120px;
			}
		}

		span {
			display: block;
			float: left;
			height: 34px;
			line-height: 33px;
			padding-right: 12px;
		}

		a {
			display: block;
			height: 33px;
			overflow: hidden;
			text-indent: -200px;
			width: 94px;
			@include respond-min(768px) {
				clear: both;
				margin-top: 5px;
			}

			&.mediatemple {
				background: url(/static/img/logo-mediatemple.png) no-repeat left center;
				.mdzr-svg & {
					background: url(/static/img/logo-mediatemple.svg) no-repeat left center;
				}
			}
			&.typekit {
				background: url(/static/img/logo-typekit.png) no-repeat left center;
			}
			&.threespot {
				background: url(/static/img/logo-threespot.png) no-repeat left center;
				.mdzr-svg & {
					background: url(/static/img/logo-threespot.svg) no-repeat left center;
				}
			}
		}
	}

	.copyright {
		@include font-size(12);
		clear: both;
		margin-top: 20px;
		padding: 0 10px;
		@include respond-min(768px) {
			max-width: 80%;
			padding-top: 20px;
		}
	}
}


// Recycleable Style Classes
.backtotop {
	// Back to top link (in base.html after block body)
	@include link-green;
	@include colfax;
	@include font-size(14);
	display: block;
	font-weight: 700;
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	@include respond-min(768px) {
		display: none;
	}
}
.cta, a.cta {
	// Call To Action buttons
	@include colfax;
	font-weight: 700;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $green-medium;
	border: none;
	border-radius: 5px;
	color: #fff;
	display: block;
	-webkit-font-smoothing: subpixel-antialiased;
	margin: 30px auto 0;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	@include respond-min(768px) {
		margin: 20px 0;
	}

	em {
		color: $green-light;
		font-style: normal;
	}

	&:hover {
		background: darken($green-medium, 2%);
	}
}
.link-green {
	// class render of the link-green mixin
	@include link-green;
}
.link-readmore {
	// Read More links. Should exist outside of <p> tag, and include the '&rsaquo;' arrow after the text.
	@include link-green;
	@include colfax;
	@include font-size(13);
	display: inline-block;
	margin: 10px 0;
	@include old-ie {
		display: inline; 
		zoom: 1; 
	}
	font-weight: 700;
	text-transform: uppercase;
}
.meta {
	// Re-usable meta class for alternate-style content.
	@include colfax;
	@include font-size(14);
	display: block;
	line-height: 1.3;
	margin: 25px 0 20px;

	a {
		@include link-green;
	}
}
.layout-2col { 
	//two column layout module
	@include respond-min(768px) {
		@include clearfix;
		.col {
			float: left;
			width: 45%;

			&:first-child {
				padding-right: 10%;
			}
		}
		.one-third {
			width: 30%;
		}
		.two-third {
			width: 60%;
		}
	}
}
.blue {
	// overide blue color class
	color: $green;
}
.label {
	// Label style associated with forms and other global elements.
	@include colfax;
	@include font-size(16);
	color: lighten($gray-text, 30%);
	display: block;
	font-weight: 700;
	margin: 20px 0 10px;
	text-transform: uppercase;

	
	&.form-controls {
		@include font-size(12);
		display: block;
		margin: 0;
		position: relative;
		top: 25px;
		text-align: right;

		@include respond-min(768px) {
			@include font-size(16);
		}
		
		span {
			cursor: pointer;

			&:hover,
			&:active,
			&:focus {
				color: lighten($gray-text, 20%);
			}
		}
	}
}
.callout-right {
	@include respond-min(768px) {
		float: right;
		margin: 35px 0 0 35px;
		width: 33%;

		&.two-thirds {
			width: 60%;
		}
	}

	img {
		display: block;
		max-width: 100%;
	}
}
.callout-left {
	@include respond-min(768px) {
		float: left;
		margin: 35px 35px 0 0;
		width: 33%;

		&.two-thirds {
			width: 60%;
		}
	}

	img {
		display: block;
		max-width: 100%;
	}
}

// List Modules
.list-events { 
	// reusable event list style class, for use in the sidebar. (See sidebar-news.html include.)
	@include colfax;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		@include font-size(18);
		border-top: 1px solid $gray-line;
		display: block;
		line-height: 1.3;
		margin: 0;
		padding: 30px 0 0 40px;
		position: relative;

		i {
			@include font-size(24);
			color: $green-very-light;
			display: block;
			left: 0;
			line-height: 28px;
			height: 30px;
			position: absolute;
			text-align: center;
			top: 28px;
			width: 30px;
		}

		&:first-child {
			border-top: 0;
			padding-top: 0;

			i {
				top: -2px;
			}
		}
	}

	.meta {
		@include colfax;
		@include font-size(14);
		display: block;
		margin-top: 10px;
	}

	a {
		@include link-green;
	}
}
.list-tags {
	// Tag list style with blue block links. (See sidebar-news.html include.)
	@include colfax;
	@include font-size(12);
	font-weight: 700;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;

	li {
		margin-top: 10px;
		@include old-ie {
			display: block;
			line-height: 28px;
		}
	}

	a {
		background: $green-very-light;
		color: #fff;
		display: inline-block;
		@include old-ie {
			display: block;
		}
		line-height: 1.2;
		margin: 0;
		padding: 8px 10px 5px;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			background-color: $green-medium;
		}
	}
}
.list-news {
	// News article listing style. (See News & Events Page.)
	list-style: none;
	margin: 0;
	padding: 0;

	h2 {
		font-weight: 400;
		margin-bottom: 5px;
	}

	li {
		border-top: 1px solid $gray-line;
		margin-top: 35px;
		padding-top: 10px;

		&:first-child {
			border: none;
			margin-top: 0;
			padding-top: 0;
		}
	}

	.meta {
		margin-top: 10px;
		color: $gray-medium;
		a:link {
			color: $gray-text;
			text-decoration: underline;
		}
	}
}
.list-case-study {
	// Three column list for Case Studies that switches to one column on mobile. (See Why Django Page.)
	@include clearfix;
	list-style: none;
	margin: 0;
	padding: 0 0 10px;

	p {
		@include colfax;
		@include font-size(14);
		margin: 10px 0 5px;
	}

	li {
		border-top: 1px solid $gray-line;
		margin-top: 20px;
		padding-top: 20px;
		@include respond-min(768px) {
			border: none;
			float: left;
			padding-right: 5%;
			padding-top: 0;
			width: 28%;
		}
	}

	li > a {
		@include colfax;
		@include link-green;
		@include font-size(11);
		font-weight: 700;
		margin-top: 10px;
		text-transform: uppercase;
	}

	h3 {
		margin: 10px 0 20px;
		padding: 0;

		&.logo {
			text-indent: 100%;
			overflow: hidden;
		}
	}

	// Logo List
	[title="Knight Foundation"] {
		background: url(/static/img/logo-knight.png) no-repeat bottom left;
		height: 25px;
		padding-top: 7px;
		width: 190px;

		.mdzr-svg & {
			background: url(/static/img/logo-knight.svg) no-repeat bottom left;
		}
	}
	[title="Mozilla"] {
		background: url(/static/img/logo-mozilla.png) no-repeat bottom left;
		height: 32px;
		width: 120px;

		.mdzr-svg & {
			background: url(/static/img/logo-mozilla.svg) no-repeat bottom left;
		}
	}
	[title="Disqus"] {
		background: url(/static/img/logo-disqus.png) no-repeat bottom left;
		height: 28px;
		padding-top: 4px;
		width: 140px;

		.mdzr-svg & {
			background: url(/static/img/logo-disqus.svg) no-repeat bottom left;
		}
	}
}
.list-link-soup {
	// Basic link-soup list style. Three Column on Desktop, two column on mobile. (See Why Django Page.)
	@include colfax;
	@include clearfix;
	@include font-size(18);
	border-top: 1px solid $gray-line;
	list-style: none;
	margin: 20px 0 0;
	padding: 20px 0 10px;

	li {
		float: left;
		margin: 10px 5% 0 0;
		width: 45%;
		@include respond-min(768px) {
			margin-right: 3%;
			width: 30%;
		}
	}

	a {
		@include link-green;
	}
}
.list-features {
	// Animated Feature List from the Why Django Page. Require looks for the 'list-features' class to load the appropriate scripts to animate the icons. Degrades gracefully into mobile.
	dt {
		@include font-size(26);
		border-top: 1px solid $gray-line;
		padding-top: 25px;
	}	

	i {
		color: $green-medium;
	}

	@include respond-min(768px) {
		padding-bottom: 80px;

		dt {
			margin-top: 90px;
			padding: 70px 0 0 245px;
			position: relative;

			&:first-child {
				margin-top: 20px;
			}

			&.even {
				padding-left: 0;
				padding-right: 245px;

				i {
					left: auto !important;
					right: 0;
				}
			}
		}

		dd {
			padding-left: 245px;

			&.even {
				padding-left: 0;
				padding-right: 245px;
			}
		}

		i {
			@include font-size(140);
			display: block;
			height: 200px;
			line-height: 220px;
			left: 0;
			position: absolute;
			text-align: center;
			top: 50px;
			width: 200px;

			// Border Radius Enabled 
			.mdzr-borderradius & {
				background: $green-medium;
				-moz-border-radius: 100px;
				-webkit-border-radius: 100px;
				border-radius: 100px;
				color: #fff;
			}
			
			// SVG Enabled
			.mdzr-svg & {
				background: url(/static/img/bg-features.svg) no-repeat center center;

				&.icon-bolt {
					background-position: -150px -269px;
				}
				&.icon-briefcase {
					background-position: -384px 17px;
				}
				&.icon-lock {
					background-position: -36px -96px;
				}
				&.icon-dashboard {
					background-position: -270px -9px;
				}
				&.icon-cogs {
					background-position: -370px -20px;
				}
			}

			// Border Radius, SVG, and Animation Enabled
			.mdzr-svg.mdzr-borderradius.mdzr-cssanimations & {
				-webkit-transition: all 0.3s ease-out;  
				-moz-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
				-moz-transform: rotate(0.5turn);
				-webkit-transform: rotate(0.5turn);
				-ms-transform: rotate(0.5turn);
				transform: rotate(0.5turn);

				&.inview {
					-moz-transform: rotate(0turn);
					-webkit-transform: rotate(0turn);
					-ms-transform: rotate(0turn);
					transform: rotate(0turn);
				}
				
				&.icon-bolt {
					background-position: 20px -359px;
					&.inview {
						background-position: -150px -269px;
					}
				}
				&.icon-briefcase {
					background-position: -494px 207px;
					&.inview {
						background-position: -384px 17px;
					}
				}
				&.icon-lock {
					background-position: 144px -206px;
					&.inview {
						background-position: -36px -96px;
					}
				}
				&.icon-dashboard {
					background-position: -360px 191px;
					&.inview {
						background-position: -270px -9px;
					}
				}
				&.icon-cogs {
					background-position: -500px -180px;
					&.inview {
						background-position: -370px -20px;
					}
				}
			}

			// Fixing opera svg-border-radius bug
			// http://stackoverflow.com/questions/11114636/opera-border-radius-svg-background-bug
			:-o-prefocus,
			& { 
				background: $green-medium !important;
				-webkit-transition: none !important;  
				-moz-transition: none !important;
				-o-transition: none !important;
				transition: none !important;
				-moz-transform: none !important;
				-webkit-transform: none !important;
				-ms-transform: none !important;
				transform: none !important;
			}
		}
	}
}
.list-collapsing {
	// reusable accordion style collapsing list, as seen on the Get Started Page. 'Expand/Collapse All' toggle is generated by the javascript. H2 is used for label, and 'collapsing-content' class is used to identify all content that should expand and collapse onclick.
	border-bottom: 1px solid $gray-line;
	list-style: none;
	margin: 30px 0;
	padding: 0;

	&.active {
		
		> li {
			border-top: 1px solid $gray-line;
			margin: 0;
			padding: 0;
		}

		h2 {
			@include font-size(20);
			cursor: pointer;
			margin: 0;
			padding: 20px 40px 15px 0;
			position: relative;

			@include respond-min(768px) {
				@include font-size(24);
			}
			
			&:hover,
			&:focus,
			&:active {
				color: lighten($gray-text, 20%);
				outline: none;
			}

			.collapsing-icon {
				position: absolute;
				right: 0;
				top: 20px;
			}

			&.bullet-icon {
				// H2 class for using icons as 'bullets' much like the layout of a list. When the line breaks, the text won't fold under the icon. See the community page for an example.
				padding: 20px 40px 15px 1.5em;

				> i:first-child {
					position: absolute;
					top: 20px;
					left: 0;
				}
			}
		}

		.collapsing-content {
			overflow: hidden;
			max-height: 0px;

			-webkit-transition: all 0.5s ease-out;  
			-moz-transition: all 0.5s ease-out;
			-o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
		}
		li.active .collapsing-content {
			max-height: 1000px;
		}
	}
}
.list-image {
	// list style for large, clickable images accompanied by text. (See Get Started Page.)
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		border-top: 1px solid $gray-line;
		margin-top: 20px;
		padding-top: 40px;
		@include respond-min(768px) {
			@include clearfix;
			margin-top: 50px;
			padding-top: 50px;
		}

		&:first-child {
			border: none;
			padding-top: 0;
		}
	}

	a {
		display: block;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			color: $gray-text;
		}
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;

		@include respond-min(768px) {
			float: left;
			margin: 0 50px 0 0;
		}
	}

	h2 {
		margin: 20px 0 10px;	
		@include respond-min(768px) {
			margin-top: 0;
		}
	}
}
.list-outline {
	// Nested lists to house documentation outline. Meant for use in sidebar. (See Documentation Page.)
	@include font-size(18);
	line-height: 1.2;
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}

	> li > a { //top level
		text-transform: uppercase;
		font-weight: 700;
	}	

	> li > ul { //second level
		list-style: none;
		@include font-size(16);
		padding: 0 0 0 10px;	

		> li > a {
			@include link-green;
		}
	}

	> li > ul > li  ul { //third level & down
		@include font-size(14);
		padding: 0 0 0 20px;	
	}
}
.list-links { 
	//Can be used globally to stack list items either with a <ul>, or with a <dl> using the <dd> to add meta information.  (See Community Page - sidebar and block body.)
	@include colfax;
	list-style: none;
	margin: 0;
	padding: 20px 0 0;

	a {
		@include link-green;
	}

	dt,
	li {
		@include font-size(26);
		font-weight: 400;
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}
	}

	dd {
		@extend .meta;
		margin-top: 0;
	}

	[role="complementary"] & {

		padding: 0;

		dt,
		li {
			@include font-size(16);
			border-top: 1px solid $gray-line;
			margin-top: 0;
			padding-top: 20px;

			&:first-child {
				border: none;
				padding-top: 0;
			}
		}

		li {
			padding: 18px 0 10px;
		}

		dd {
			@include font-size(14);
			margin-bottom: 16px;
		}
	}
}

// Forms
.form-input {
	// Specific class for single-entry form with <button> submit element utilizing a font-awesome icon. See examples on Community and News & Events pages.
	height: 40px;
	margin: 30px 0 20px;
	position: relative;

	&:focus {
		background: #000;
	}

	input[type="search"],
	input[type="text"], 
	input[type="email"] {
		@include colfax;
		@include font-size(16);
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #fff;
		border: 1px solid $gray-line;
		border-radius: 4px;
		cursor: auto;
		display: block;
		font-weight: 400;
		height: 30px;
		margin: 0;
		padding: 8px 14% 6px 10px;
		text-indent: 0;
		vertical-align: middle;
		width: 82%;		

		@include respond-min(768px) {
			padding: 8px 7% 6px 10px;
			width: 90%;
		}

		&::-ms-clear {
			display: none;
		}

		&:active,
		&:focus {
			outline: none;
			border-color: $green;
		}
	}

	button {
		background: none;
		border: none;
		color: $green-medium;
		height: 40px;
		padding: 0;
		position: absolute;
		right: 1.5%;
		top: 4px;
		width: 40px;

		i {
			@include font-size(30);
			line-height: 1.4;
		}

		&:hover,
		&:focus,
		&:active {
			color: $green;
			outline: none;
		}
	}
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
	color: $gray-medium;
}

.form-email {
	// Email submission forms on Community page.
	h3 {
		@include font-size(22);
		margin: 0;
	}
	.meta {
		margin: 0;
	}
	form {
		margin: 10px 0 40px;
	}
}

// Pagination
.nav-pagination {
	// Pagination style for use with the News & Events pages.
	@include colfax;
	@include font-size(14);
	border-top: 1px solid $gray-line;
	font-weight: 700;
	line-height: 31px;
	list-style: none;
	margin: 30px 0;
	padding: 30px 0 0;
	text-align: center;

	li{
		display: inline-block;
		@include old-ie {
			display: inline;
			zoom: 1;
		}
	}
	a {
		border: none;
		color: $gray-text;
		height: auto;
		width: auto;
		margin: 0 5px;
		border-radius: 15px;
		display: block;
		text-decoration: none; 
		@include respond-min(320px) {
			background: $gray-text;
			color: #fff;
			height: 30px;
			margin: 0 2px;
			width: 30px;
		}

		&.previous,
		&.next {
			@include font-size(20);
			@include respond-min(320px) {
				border-radius: 25px;
				height: 50px;
				line-height: 52px;
				width: 50px;
			}
		}
		&.previous {
			margin-right: 10px;
			text-indent: -1px;
			@include respond-min(768px) {
				margin-right: 70px;
			}
		}
		&.next {
			margin-left: 10px;
			text-indent: 1px;
			@include respond-min(768px) {
				margin-left: 70px;
			}
		}

		&:hover,
		&:focus,
		&:active,
		&.active {
			background: none;
			color: $green;
			@include respond-min(320px) {
				background: lighten($gray-text, 30%);
				color: $gray-text;
			}
		}

		.mdzr-no-borderradius & {
			display: inline;
			background: none;
			color: $gray-text;
			height: auto;
			width: auto;
			margin: 0 5px !important;

			&:hover,
			&:active,
			&:focus,
			&.active {
				background: none;
				color: $green;
			}
		}
	}
}

// Boilerplate Helper mixins (rendered as classes)
.visuallyhidden { 
	@include visuallyhidden;
}
.clearfix, .group-container {
	@include clearfix;
}