
// Default Type / Colors
body {
	@include elena;
	@include font-size(20); 
	background: #f8f8f8;
	color: $gray-text;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;

	.layout-secondary,
	[role="complementary"] {
		@include colfax; // reverse font style on sidebar and secondary areas
	}
}
a {
	color: darken($gray-text, 10%);
	text-decoration: underline;
	-webkit-tap-highlight-color: transparent;

	&:visited {
		color: lighten($gray-text, 10%);
	}

	&:active, 
	&:focus,
	&:hover {
		color: lighten($gray-text, 20%);
	}
}
// Text Selection Colors
::selection {
	background: $green-light; 
}
::-moz-selection {
	background: $green-light; 
}
ol li, ul li { //list styles
	margin-top: 10px;
}
dl {
	margin: 0;
	padding: 20px 0 40px;

	dt {
		@include colfax;
		font-weight: bold;
		margin-top: 22px;
	}

	dd {
		margin: 5px 0 0;
		padding: 0;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@include colfax;
	font-weight: normal;

	a {
		text-decoration: none;
		@include link-blue;
	}

	.layout-secondary &,
	[role="complementary"] & {
		@include elena; // reverse font style on sidebar and secondary areas
	}
}
h1 {
	@include font-size(40);
	color: #fff;
	letter-spacing: -1px;
	line-height: 1.1;
	@include respond-min(768px) {
		@include font-size(48);
	}

	[role="main"] & {
		@include font-size(32);
		margin: 35px 0 20px;
		color: $gray-text;
	}
}
h2 {
	@include font-size(30);
	font-weight: bold;
	color: $gray-text;
	line-height: 1.2;
	margin: 35px 0 20px;
	@include respond-min(768px) {
		@include font-size(26);
	}

	[role="complementary"] &,
	.layout-secondary & {
		@include font-size(32);
		background: url(/static/img/patterns/hash-dark.png) repeat-x bottom center;
		font-weight: normal;
		@include retina-display {
			background: url(/static/img/patterns/hash-dark@2x.png) repeat-x bottom center;
			background-size: 4px;
		}
		padding-bottom: 20px;

		&:first-child {
			@include respond-min(768px) {
				margin-top: 20px;
			}
		}
	}

	[role="complementary"] & {
		@include font-size(26);
	}
}
h3 {
	@include font-size(28);
}
h4 {
	@include font-size(18);	
	@include elena;
	text-transform: uppercase;
}



// Layout
[role="main"] {
	background: #fff;
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.11);
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.11);
	box-shadow: 0 4px 4px rgba(0,0,0,0.11);
	padding: 1px 10px;
	@include respond-min(768px) {
		border-radius: 5px;
		border: 1px solid #ddd;
		float: right;
		margin: 20px 0;
		padding-bottom: 20px;
		padding-left: (30/704) * 100%;	
		padding-right: (30/704) * 100%;	
		width: (450/704) * 100%;
		.mdzr-boxshadow & {
			border: none;
			border-radius: 5px 0 0 5px;
			-moz-box-shadow: -1px -1px 0 0 #dfdfdf, -1px 1px 0 0 #dfdfdf, 500px 0 0 0 #fff, 1000px 0 0 0 #fff, 500px 0px 0 1px #dfdfdf, 1000px 0px 0 1px #dfdfdf;
			-webkit-box-shadow: -1px -1px 0 0 #dfdfdf, -1px 1px 0 0 #dfdfdf, 500px 0 0 0 #fff, 1000px 0 0 0 #fff, 500px 0px 0 1px #dfdfdf, 1000px 0px 0 1px #dfdfdf;
			box-shadow: -1px -1px 0 0 #dfdfdf, -1px 1px 0 0 #dfdfdf, 500px 0 0 0 #fff, 1000px 0 0 0 #fff, 500px 0px 0 1px #dfdfdf, 1000px 0px 0 1px #dfdfdf;
			padding-left: (32/704) * 100%;	
			padding-right: (0/704) * 100%;	
			width: (482/704) * 100%;
		}
	}

	.full-width & {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		float: none;
		margin: 0 auto;
		padding: 0 10px;
		width: auto;

		@include respond-min(768px) {
			max-width: 1100px;
			padding: 20px 0;
			width: (704/768) * 100%;
		}
	}
}
.full-width {
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.11);
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.11);
	box-shadow: 0 4px 4px rgba(0,0,0,0.11);
	background: #fff;
	@include clearfix;
}
[role="complementary"] {
	padding: 0 10px 20px;
	@include respond-min(768px) {
		float: right;
		margin: 20px 0;
		margin-right: (32/704) * 100%;
		padding: 0 0 40px;
		width: (157/704) * 100%;
	}
}
.layout-secondary {
	padding: 10px 10px 40px;
}
.layout-tertiary {
	background: #fff;
	-moz-box-shadow: 0 -4px 4px rgba(0,0,0,0.11);
	-webkit-box-shadow: 0 -4px 4px rgba(0,0,0,0.11);
	box-shadow: 0 -4px 4px rgba(0,0,0,0.11);
	padding: 10px 10px 40px;
}



// Banner/Header styles
[role="banner"] {
	@include clearfix;
	background: $green-light;
	overflow: hidden;
	margin: 0;
	padding: 0 0 10px;
	position: relative;
	z-index: 0;

	.container {
		background: url(/static/img/bg-header.svg) no-repeat 130px 0px;
		padding-top: 20px;
		@include respond-min(768px) {
			position: relative;
		}
	}
	
	.logo {
		@include font-size(40);
		@include colfax;
		background: url(/static/img/logo-django.png) 0 0 no-repeat;
		color: $green-dark;
		display: block;
		float: left;
		font-weight: 700;
		height: 50px;
		margin: 0 10px 10px;
		overflow: hidden;
		text-decoration: none;
		text-indent: 100%;
		width: 142px;
		@include respond-min(768px) {
			margin: 20px 10px 10px;
		}
		
		.mdzr-svg & { // NOTE: Modernizr Use
			background: url(/static/img/logo-django.svg) center center no-repeat;	
		}
	}

	.menu-button {
		@include font-size(20);
		background: $green-dark;
		border-radius: 23px;
		color: #fff;
		cursor: pointer;
		display: block;
		float: right;
		height: 45px;
		line-height: 48px;
		margin: 0 10px;
		text-align: center;
		text-decoration: none;
		width: 45px;		

		@include respond-min(768px) {
			display: none; 
		}

		&:active {
			color: $green-medium;
		}
		
		span {
			@include visuallyhidden;
		}
	}

	.nav-menu-on {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: all 0.3s ease-out;  
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		@include respond-min(768px) {
			max-height: none;
			-webkit-transition: none;  
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
		}
		
		&.active {
			max-height: 500px;
		}
	}

	[role="navigation"] {
		background: url(/static/img/bg-pattern.jpg) repeat top center $green-dark;
		clear: both;
		@include retina-display { //double density for retina display
			background-size: 250px 250px;
		}
		@include respond-min(768px) {
			background: none;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			@include colfax;
			@include font-size(24);
			display: block;			
			font-weight: 400;
			line-height: 1.1;
			text-align: center;
			text-transform: uppercase;
			@include respond-min(768px) {
				float: left;
			}

			&.active a {
				color: $green-medium;
			}
		}

		a {
			color: #fff;
			background: url(/static/img/patterns/hash-light.png) repeat-x top center;
			@include retina-display {
				background: url(/static/img/patterns/hash-light@2x.png) repeat-x top center;
				background-size: 4px;
			}
			display: block;
			padding: 18px 10px 11px;
			text-decoration: none;
			@include respond-min(768px) {
				color: $green-dark;
				font-weight: 700;
			}

			&:active, &:hover {
				color: $green-medium;
			}			
		}

		.nav-primary {
			@include respond-min(768px) {
				position: absolute;
				right: 0;
				top: 55px;
			}
			
			li:first-child a {
				background: none;
				padding-top: 14px;
			}

			li a, 
			li:first-child a {
				@include respond-min(768px) {
					@include font-size(17);
					background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
					@include retina-display {
						background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
						background-size: 4px;
					}
					margin: 0 0 0 35px;
					padding: 10px 0 0;
				}
			}	
		}

		.nav-secondary {
			@include respond-min(768px) {
				position: absolute;
				right: 0;
				top: 20px;
			}

			a {
				@include font-size(20);
				color: lighten($gray-text, 10%);
				padding: 14px 10px 7px;
				@include respond-min(768px) {
					@include font-size(13);
					color: $green-dark;
					margin: 0 0 0 25px;
					padding: 0;
				}

				&:hover,
				&:active {
					color: $green-medium;
				}
			}
		}
	}
}
.header {
	@include colfax;
	background: url(/static/img/bg-pattern.jpg) repeat top center $green-dark;
	margin: 0;
	padding: 11px 10px 8px;
	position: relative;

	@include retina-display {
		background-size: 250px 250px;
	}

	> * {
		@extend .container;
		margin: 5px auto;
		@include respond-min(768px) {
			margin: 10px auto;
		}
	}

	p {
		@include font-size(17);
		color: #fff;
		left: -9999px;
		line-height: 1.6;
		padding: 0 0 10px;
		position: absolute;
		top: 0;

		@include respond-min(768px) {
			position: static;
		}
	}
}
.copy-banner {
	@include colfax;
	@include font-size(24);
	background: $green-light;
	color: $green-medium;
	font-weight: 900;
	line-height: 1.25;
	padding: 10px;
	text-transform: uppercase;

	em {
		font-style: normal;
	}

	@include respond-min(768px) {
		@include font-size(42);
		color: lighten(desaturate($green-medium, 30%), 30%);
		padding: 20px 0;

		em {
			color: $green-medium;
		}
	}
}



// Footer Styles
[role="contentinfo"] {
	@include clearfix;
	@include colfax;
	background: url(/static/img/bg-pattern.jpg) repeat top center $green-dark;
	clear: both;
	margin-top: 0px;
	@include retina-display { //double density for retina display
		background-size: 250px 250px;
	}

	.container {
		@include clearfix;
		overflow: hidden;
	}

	.learn, 
	.involved, 
	.follow {
		@include respond-min(768px) {
			background: url(/static/img/patterns/hash-light.png) repeat-y top right;
			@include retina-display {
				background: url(/static/img/patterns/hash-light@2x.png) repeat-y top right;
				background-size: 4px;
			}
			float: left;
			margin-bottom: -999px;
			padding: 0 2% 999px;
			width: 29%;
		}
	}
	.follow {
		@include respond-min(768px) {
			background: none;
		}
	}
	
	h2 {
		@include font-size(26);
		background: url(/static/img/patterns/hash-light.png) repeat-x top center;
		@include retina-display {
			background: url(/static/img/patterns/hash-light@2x.png) repeat-x top center;
			background-size: 4px;
		}
		color: #fff; 
		font-weight: 400;
		margin-top: 30px;
		padding: 25px 10px 0;
		@include respond-min(768px) {
			background: none;
			margin-top: 0;	
		}
	}
	.learn h2 {
		background: none;
		margin-top: 0;
	}

	ul {
		@include font-size(18);
		list-style: none;
		margin: 25px 0 0 0;
		padding: 0 10px;
		@include respond-min(768px) {
			margin-bottom: 40px;
		}

		li {
			margin: 10px 0 0;
			padding: 0;
		}

		a {
			color: lighten($gray-text, 10%);
			text-decoration: none;
			
			&:hover, 
			&:active,
			&:focus {
				color: $green-medium;
			}
		}
	}

	.footer {
		background: $green-light;
		margin-top: 20px;
		padding: 10px 0;

		@include respond-min(768px) {
			background: url(/static/img/bg-footer.svg) no-repeat bottom right $green-light;
			margin-top: 0;
		}
	}

	.logo {
		@include font-size(40);
		@include colfax;
		background: url(/static/img/logo-django.png) 0 0 no-repeat;
		color: $green-dark;
		display: block;
		font-weight: 700;
		height: 50px;
		margin: 10px;
		overflow: hidden;
		text-decoration: none;
		text-indent: 100%;
		width: 142px;
		@include respond-min(768px) {
			float: left;
			margin: 20px 90px 0 2%;
		}
		
		.mdzr-svg & { // NOTE: Modernizr Use
			background: url(/static/img/logo-django.svg) center center no-repeat;
			height: 39px;
			width: 109px;
		}
	}

	.thanks {
		@include font-size(12);
		background: url(/static/img/patterns/hash-dark.png) repeat-x bottom center;
		@include retina-display {
			background: url(/static/img/patterns/hash-dark@2x.png) repeat-x bottom center;
			background-size: 4px;
		}
		color: $green-dark;
		margin: 0;
		padding: 0;
		@include respond-min(768px) {
			background: none;
		}
		
		li {
			@include clearfix;
			background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
			@include retina-display {
				background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
				background-size: 4px;
			}
			margin: 0;
			padding: 17px 10px 11px;
			@include respond-min(768px) {
				background: none;
				float: left;
				padding: 0 0 0 25px;
				width: 120px;
			}
		}

		span {
			display: block;
			float: left;
			height: 34px;
			line-height: 33px;
			padding-right: 12px;
		}

		a {
			display: block;
			height: 33px;
			overflow: hidden;
			text-indent: -200px;
			width: 94px;
			@include respond-min(768px) {
				clear: both;
				margin-top: 5px;
			}

			&.mediatemple {
				background: url(/static/img/logo-mediatemple.png) no-repeat left center;
				.mdzr-svg & {
					background: url(/static/img/logo-mediatemple.svg) no-repeat left center;
				}
			}
			&.typekit {
				background: url(/static/img/logo-typekit.png) no-repeat left center;
			}
			&.threespot {
				background: url(/static/img/logo-threespot.png) no-repeat left center;
				.mdzr-svg & {
					background: url(/static/img/logo-threespot.svg) no-repeat left center;
				}
			}
		}
	}

	.copyright {
		@include font-size(12);
		clear: both;
		margin-top: 20px;
		padding: 0 10px;
		@include respond-min(768px) {
			max-width: 80%;
			padding-top: 20px;
		}
	}
}



// Recycleable Style Classes
.container {
	@include respond-min(768px) {
		margin: 0 auto;	
		max-width: 1100px;
		width: (704/768) * 100%;
	}
	@include old-ie {
		min-width: 768px;
	}
}
.backtotop {
	@include link-blue;
	@include colfax;
	@include font-size(14);
	display: block;
	font-weight: bold;
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	@include respond-min(768px) {
		display: none;
	}
}
.cta, a.cta {
	@include colfax;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/static/img/bg-pattern.jpg) repeat top center $green-dark;
	@include retina-display { //double density for retina display
		background-size: 250px 250px;
	}
	border: none;
	border-radius: 5px;
	color: #fff;
	display: block;
	-webkit-font-smoothing: subpixel-antialiased;
	margin: 30px auto 0;
	padding: 25px;
	text-align: center;
	text-decoration: none;
	@include respond-min(768px) {
		margin: 20px 0;
	}

	em {
		color: $green-medium;
		font-style: normal;
	}

	&:hover {
		opacity: 0.8;
	}
}
.link-readmore {
	@include link-blue;
	@include colfax;
	@include font-size(13);
	display: inline-block;
	margin: 10px 0;
	@include old-ie {
		display: inline; 
		zoom: 1; 
	}
	font-weight: 700;
	text-transform: uppercase;
}
.meta {
	@include colfax;
	@include font-size(16);
	display: block;
	line-height: 1.3;
	margin: 25px 0 20px;

	a {
		@include link-blue;
	}
}
.layout-2col {
	@include respond-min(768px) {
		@include clearfix;
		.col {
			float: left;
			width: 45%;

			&:first-child {
				padding-right: 10%;
			}
		}
	}
}


// List Modules
.list-events {
	@include colfax;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		@include font-size(18);
		background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
		background-size: 4px;
		@include old-ie {
			background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
		}
		display: block;
		line-height: 1.3;
		margin: 0;
		padding: 30px 0 0 40px;
		position: relative;

		i {
			@include font-size(24);
			color: $gray-text;
			display: block;
			left: 0;
			line-height: 33px;
			height: 30px;
			position: absolute;
			text-align: center;
			top: 28px;
			width: 30px;
		}

		&:first-child {
			background: none;
			padding-top: 0;

			i {
				top: -2px;
			}
		}
	}

	.meta {
		@include colfax;
		@include font-size(16);
		display: block;
		margin-top: 10px;
	}

	a {
		@include link-blue;
	}
}
.list-tags {
	@include colfax;
	@include font-size(12);
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;

	li {
		margin-top: 10px;
		@include old-ie {
			display: block;
			line-height: 28px;
		}
	}

	a {
		background: url(/static/img/patterns/hash-light.png) repeat top center $blue;
		@include retina-display {
			background: url(/static/img/patterns/hash-light@2x.png) repeat top center $blue;
			background-size: 4px;
		}
		color: #fff;
		display: inline-block;
		@include old-ie {
			display: inline;
			zoom: 1;
		}
		line-height: 1.2;
		margin: 0;
		padding: 8px 10px 5px;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			background-color: lighten($blue, 10%);
		}
	}
}
.list-news {
	list-style: none;
	margin: 0;
	padding: 0;

	h2 {
		font-weight: normal
	}

	li {
		background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
		@include retina-display {
			background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
			background-size: 4px;
		}
		margin-top: 35px;
		padding-top: 10px;

		&:first-child {
			background: none;
			margin-top: 0;
			padding-top: 0;
		}
	}
}
.list-case-study {
	@include clearfix;
	list-style: none;
	margin: 0;
	padding: 0 0 10px;

	p {
		@include colfax;
		@include font-size(14);
		margin: 10px 0 5px;
	}

	li {
		background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
		@include retina-display {
			background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
			background-size: 4px;
		}
		margin-top: 20px;
		padding-top: 20px;
		@include respond-min(768px) {
			background: none;
			float: left;
			padding-right: 5%;
			padding-top: 0;
			width: 28%;
		}
	}

	li > a {
		@include colfax;
		@include link-blue;
		@include font-size(11);
		font-weight: bold;
		margin-top: 10px;
		text-transform: uppercase;
	}

	h3 {
		margin: 10px 0 20px;
		padding: 0;

		&.logo {
			text-indent: 100%;
			overflow: hidden;
		}
	}

	// Logo List
	[title="Knight Foundation"] {
		background: url(/static/img/logo-knight.png) no-repeat bottom left;
		height: 25px;
		padding-top: 7px;
		width: 190px;

		.mdzr-svg & {
			background: url(/static/img/logo-knight.svg) no-repeat bottom left;
		}
	}
	[title="Mozilla"] {
		background: url(/static/img/logo-mozilla.png) no-repeat bottom left;
		height: 32px;
		width: 120px;

		.mdzr-svg & {
			background: url(/static/img/logo-mozilla.svg) no-repeat bottom left;
		}
	}
	[title="Disqus"] {
		background: url(/static/img/logo-disqus.png) no-repeat bottom left;
		height: 28px;
		padding-top: 4px;
		width: 140px;

		.mdzr-svg & {
			background: url(/static/img/logo-disqus.svg) no-repeat bottom left;
		}
	}
}
.list-link-soup {
	@include colfax;
	@include clearfix;
	@include font-size(18);
	background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
	@include retina-display {
		background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
		background-size: 4px;
	}
	list-style: none;
	margin: 20px 0 0;
	padding: 20px 0 10px;


	li {
		float: left;
		margin: 10px 5% 0 0;
		width: 45%;
		@include respond-min(768px) {
			margin-right: 3%;
			width: 30%;
		}
	}

	a {
		@include link-blue;
	}
}
.list-features {
	dt {
		@include font-size(26);
		background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
		@include retina-display {
			background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
			background-size: 4px;
		}
		padding-top: 25px;
	}
	
	

	i {
		color: $green-medium;
	}

	@include respond-min(768px) {
		padding-bottom: 80px;

		dt {
			margin-top: 90px;
			padding: 70px 0 0 245px;
			position: relative;

			&:first-child {
				margin-top: 20px;
			}

			&.even {
				padding-left: 0;
				padding-right: 245px;

				i {
					left: auto !important;
					right: 0;
				}
			}
		}

		dd {
			padding-left: 245px;

			&.even {
				padding-left: 0;
				padding-right: 245px;
			}
		}

		i {
			@include font-size(140);
			display: block;
			height: 200px;
			line-height: 220px;
			left: 0;
			position: absolute;
			text-align: center;
			top: 50px;
			width: 200px;

			// Border Radius Enabled 
			.mdzr-borderradius & {
				background: $green-medium;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				color: #fff;
			}
			
			// SVG Enabled
			.mdzr-svg & {
				background: url(/static/img/bg-features.svg) no-repeat center center;

				&.icon-bolt {
					background-position: -150px -269px;
				}
				&.icon-briefcase {
					background-position: -384px 17px;
				}
				&.icon-lock {
					background-position: -36px -96px;
				}
				&.icon-dashboard {
					background-position: -270px -9px;
				}
				&.icon-cogs {
					background-position: -370px -20px;
				}
			}

			// Border Radius, SVG, and Animation Enabled
			.mdzr-svg.mdzr-borderradius.mdzr-cssanimations & {
				//background-position: -500px -500px;

				-webkit-transition: all 0.3s ease-out;  
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;

				-moz-transform: rotate(0.5turn);
				-webkit-transform: rotate(0.5turn);
				transform: rotate(0.5turn);

				&.inview {
					-moz-transform: rotate(0turn);
					-webkit-transform: rotate(0turn);
					transform: rotate(0turn);
				}
				
				&.icon-bolt {
					background-position: 20px -359px;
					&.inview {
						background-position: -150px -269px;
					}
				}
				&.icon-briefcase {
					background-position: -494px 207px;
					&.inview {
						background-position: -384px 17px;
					}
				}
				&.icon-lock {
					background-position: 144px -206px;
					&.inview {
						background-position: -36px -96px;
					}
				}
				&.icon-dashboard {
					background-position: -360px 191px;
					&.inview {
						background-position: -270px -9px;
					}
				}
				&.icon-cogs {
					background-position: -500px -180px;
					&.inview {
						background-position: -370px -20px;
					}
				}
			}
		}
	}
}
.list-collapsing {
	list-style: none;
	margin: 0;
	padding: 0;

	&.active {
		> li {
			background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
			@include retina-display {
				background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
				background-size: 4px;
			}
			margin: 0;
			padding: 0;
		}

		h2 {
			cursor: pointer;
			margin: 0;
			padding: 20px 30px 15px 0;
			position: relative;
			
			&:hover,
			&:focus,
			&:active {
				color: lighten($gray-text, 20%);
				outline: none;
			}

			i
			 {
				position: absolute;
				right: 0;
				top: 20px;
			}
		}

		.collapsing-content {
			overflow: hidden;
			max-height: 0px;

			-webkit-transition: all 0.5s ease-out;  
			-moz-transition: all 0.5s ease-out;
			-ms-transition: all 0.5s ease-out;
			-o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
		}
		li.active .collapsing-content {
			max-height: 1000px;
		}
	}
}








// news modules
.news-search {
	height: 40px;
	margin: 30px 0 20px;
	position: relative;

	&:focus {
		background: #000;
	}

	input[type="search"],
	input[type="text"] {
		@include colfax;
		@include font-size(16);
		-webkit-appearance: none;
		-moz-appearance: none;
		background: #fff;
		border: 1px solid #CCC;
		border-radius: 4px;
		cursor: auto;
		display: block;
		font-weight: normal;
		height: 30px;
		line-height: 30px;
		margin: 0;
		padding: 8px 14% 6px 0;
		text-indent: 10px;
		vertical-align: middle;
		width: 85%;
		@include respond-min(768px) {
			padding: 8px 7% 6px 0;
			width: 92%;
		}

		&::-webkit-input-placeholder,
		&:-moz-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder {
			color: #bebebe;
		}

		&:active,
		&:focus {
			outline: none;
			border-color: $blue;
		}
	}

	button {
		background: none;
		border: none;
		color: lighten($gray-text, 20%);
		height: 40px;
		padding: 0;
		position: absolute;
		right: 1.5%;
		top: 4px;
		width: 40px;

		i {
			@include font-size(30);
			line-height: 1.4;
		}

		&:hover,
		&:focus,
		&:active {
			color: $blue;
			outline: none;
		}
	}
}
.results-label {
	@include colfax;
	@include font-size(12);
	color: lighten($gray-text, 30%);
	display: block;
	font-weight: bold;
	margin: 20px 0;
	text-transform: uppercase;
}
.nav-pagination {
	@include colfax;
	@include font-size(14);
	background: url(/static/img/patterns/hash-dark.png) repeat-x top center;
	@include retina-display {
		background: url(/static/img/patterns/hash-dark@2x.png) repeat-x top center;
		background-size: 4px;
	}
	font-weight: bold;
	line-height: 31px;
	list-style: none;
	margin: 30px 0;
	padding: 30px 0 0;
	text-align: center;

	li{
		display: inline-block;
		@include old-ie {
			display: inline;
			zoom: 1;
		}
	}
	a {
		background: none;
		color: $gray-text;
		height: auto;
		width: auto;
		margin: 0 5px;
		border-radius: 15px;
		display: block;
		text-decoration: none; 
		@include respond-min(320px) {
			background: $gray-text;
			color: #fff;
			height: 30px;
			margin: 0 2px;
			width: 30px;
		}

		&.previous,
		&.next {
			@include font-size(20);
			@include respond-min(320px) {
				border-radius: 25px;
				height: 50px;
				line-height: 52px;
				width: 50px;
			}
		}
		&.previous {
			margin-right: 10px;
			text-indent: -1px;
			@include respond-min(768px) {
				margin-right: 70px;
			}
		}
		&.next {
			margin-left: 10px;
			text-indent: 1px;
			@include respond-min(768px) {
				margin-left: 70px;
			}
		}

		&:hover,
		&:focus,
		&:active,
		&.active {
			background: none;
			color: $blue;
			@include respond-min(320px) {
				background: lighten($gray-text, 30%);
				color: $gray-text;
			}
		}

		.mdzr-no-borderradius & {
			display: inline;
			background: none;
			color: $gray-text;
			height: auto;
			width: auto;
			margin: 0 5px !important;

			&:hover,
			&:active,
			&:focus,
			&.active {
				background: none;
				color: $blue;
			}
		}
	}
}





// Boilerplate Helper mixins
.visuallyhidden { 
	@include visuallyhidden;
}
.clearfix, .group-container {
	@include clearfix;
}