// Colors
$blue: #00acf3; 
$gray-text: #7d7d7d; 
$green-light: #e8f4d0; 
$green-medium: #83a913; 
$green-dark: #082d20;

// @font-face
@font-face {
	font-family: 'Elena';
	src: url('/static/fonts/elena/ElenaWebBasicBold.eot');
	src: url('/static/fonts/elena/ElenaWebBasicBold.eot?#iefix') format('embedded-opentype'),
			 url('/static/fonts/elena/ElenaWebBasicBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Elena';
	src: url('/static/fonts/elena/ElenaWebBasicBoldItalic.eot');
	src: url('/static/fonts/elena/ElenaWebBasicBoldItalic.eot?#iefix') format('embedded-opentype'),
			 url('/static/fonts/elena/ElenaWebBasicBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Elena';
	src: url('/static/fonts/elena/ElenaWebBasicRegular.eot');
	src: url('/static/fonts/elena/ElenaWebBasicRegular.eot?#iefix') format('embedded-opentype'),
			 url('/static/fonts/elena/ElenaWebBasicRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Elena';
	src: url('/static/fonts/elena/ElenaWebBasicRegularItalic.eot');
	src: url('/static/fonts/elena/ElenaWebBasicRegularItalic.eot?#iefix') format('embedded-opentype'),
			 url('/static/fonts/elena/ElenaWebBasicRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Colfax';
	src: url('/static/fonts/colfax/ColfaxWebBlack.eot');
	src: url('/static/fonts/colfax/ColfaxWebBlack.eot?#iefix') format('embedded-opentype'),
			 url('/static/fonts/colfax/ColfaxWebBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Colfax';
	src: url('/static/fonts/colfax/ColfaxWebBold.eot');
	src: url('/static/fonts/colfax/ColfaxWebBold.eot?#iefix') format('embedded-opentype'),
			 url('/static/fonts/colfax/ColfaxWebBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Colfax';
	src: url('/static/fonts/colfax/ColfaxWebRegular.eot');
	src: url('/static/fonts/colfax/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'),
			 url('/static/fonts/colfax/ColfaxWebRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

// Media Queries Mixin (http://jakearchibald.github.com/sass-ie/)
$fix-mqs: false !default;
@mixin respond-min($width) {
	@if $fix-mqs {
		@if $fix-mqs >= $width {
			@content;	
		}
	}
	@else {
		@media screen and (min-width: $width) {
			@content;
		}
	}
}

// OLD IE Mixin (http://jakearchibald.github.com/sass-ie/)
$old-ie: false !default; 
@mixin old-ie {
	@if $old-ie {
		@content;
	}
}

// Retina media query mixin
@mixin retina-display {
	@media only screen and 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		@content;
	}
}

// Font Family Mixins
@mixin elena {
	font-family: 'Elena', Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}
@mixin colfax {
	font-family: 'Colfax', Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

// Font Sizing Mixin (http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/)
html {
	font-size: 62.5%;
}
@mixin font-size ( $size: 16 ) {
	font-size: $size + px;
	font-size: $size/10 + rem; 
}

// Boilerplate Helper mixins (https://github.com/h5bp/html5-boilerplate/blob/v4.1.0/doc/css.md)
@mixin visuallyhidden { 
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
@mixin clearfix { 
	&:before,
	&:after { 
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	@include old-ie {
		zoom: 1;
	}
}


// Custom Mixins
@mixin blue-link {
	color: $blue;
	text-decoration: none;
	&:visited {
		color: $blue;
	}
	&:hover,
	&:active,
	&:focus {
		color: lighten($blue, 20%);
		text-decoration: none;
	}
}

